<div class="container"></div>
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 offset-3 float-md-center">
  <div class="jumbotron" id="create-account-modal">
    <form action="action_page.php" method="post">
      <div class="container">
        <label for="firstname"><b>First Name</b></label>
        <input
          type="text"
          id="fname"
          placeholder="Enter First Name"
          name="firstname"
          required
        />
        <div class="container"></div>

        <label for="lastname"><b>Last Name</b></label>
        <input
          type="text"
          id="lname"
          placeholder="Enter Last Name"
          name="lastname"
          required
        />
        <div class="container"></div>

        <label for="em"><b>Email</b></label>
        <input
          type="email"
          id="email"
          placeholder="Enter Email"
          name="em"
          size="57"
          required
        />
        <div class="container"></div>

        <label for="address"><b>Address</b></label>
        <input
          type="text"
          id="address"
          placeholder="Enter Address"
          name="address"
          required
        />
        <div class="container"></div>

        <label for="address"><b>Phone Number</b></label>
        <input
          type="tel"
          id="phone"
          placeholder="Enter Phone Number"
          name="phone"
          size="57"
          required
        />
        <div class="container"></div>

        <label for="uname"><b>Username</b></label>
        <input
          type="text"
          class="text-line"
          id="user"
          placeholder="Enter Username"
          name="uname"
          required
        />
        <div class="container"></div>

        <label for="psw"><b>Password</b></label>
        <input
          type="password"
          id="pass"
          placeholder="Enter Password"
          name="psw"
          required
        />
      </div>

      <div class="container"></div>
      <button type="submit">Create Account</button>
      <label>
        <input type="checkbox" checked="checked" name="remember" /> Remember me
      </label>
    </form>
  </div>
</div>
