// add padding above and below content of div to make it look more like the figma drawing
@import "../../../styles";

.body {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.user_and_date {
  display: grid;
  grid-template-columns: 50px 50px;
  grid-column-gap: 60px;
}

.threads {
  //background: #fef4e8;
  border-left: 10px solid map-get($theme-colors, "primary") !important;
}

.hover {
  &:hover {
    background: #e5dcd1;
    cursor: pointer;
  }
}

.pointer {
  &:hover {
    cursor: pointer;
  }
}
