<div *ngIf="thread" class="w-100 my-2">
  <div class="container-fluid w-100 shadow-sm rounded pt-4 pb-3 threads hover m-0">
    <div (click)="navigateToThread()" class="row pl-3">
      <div class="col-2 col-sm-1 p-1 text-center">
        <img
          [src]="profileImageSrc"
          (error)="imgError()"
          alt="{{ thread.account.username }}'s profile picture"
          class="rounded-circle w-100 my-auto p-0 d-block pointer"
        />
      </div>
      <div class="col-10 col-sm-11">
        <div>
          <h4>{{ thread.title }}</h4>
          <div class="pb-2">
            <span
              >{{ thread.account.username }} -
              <span class="text-muted">{{ thread.createdAt.toLocaleDateString("en-US") }}</span></span
            >
          </div>
        </div>
        <div class="p-0">
          <p class="body">
            {{ thread.body }}
          </p>
        </div>
      </div>
    </div>
    <div class="row likes-row text-center">
      <div class="col-12 text-right pr-5">
        <i
          class="bi bi-heart-fill"
          [class]="{
            'text-muted': !userHasLiked,
            'text-danger': userHasLiked
          }"
          (click)="likeUnlikeThread()"
        ></i
        >&nbsp;&nbsp;{{ thread.likes }}&nbsp;&nbsp;|&nbsp;&nbsp;<i class="bi bi-chat-text"></i>&nbsp;&nbsp;{{
          thread.replyCount
        }}
      </div>
    </div>
  </div>
</div>
