<!--
For the profile picture, in the image tag just do [src]="getProfileImage()" and make that function
  just return the src for the blank profile picture "/assets/images/blank-profile-image" (or something like that).
-->

<!--
This component should look very similar to the topic component you made last time.
-->
<!-- (click)="" -->

<!--{{ thread.account.username }}-->
<!--{{ thread.likes }}-->
<!--{{ thread.body }}-->
<!--{{ thread.updatedAt.toLocaleDateString("en-US") }}-->

<!--<i class="text-muted"-->
<!--&gt; | Last Reply:-->
<!--  {{ thread.lastReplyDate.toLocaleDateString("en-US") }}</i-->
<!--&gt;-->

<!-- Issue with inline :\-->

<div *ngIf="thread" (click)="navigateToThread()" class="w-100 my-2">
  <div class="container-fluid w-100 shadow-sm rounded pt-4 pb-3 threads row hover">
    <div class="col-sm-2 col-md-2">
      <img
        [src]="profileImageSrc"
        (error)="imgError()"
        alt="{{ thread.account.username }}'s profile picture"
        class="rounded-circle img-fluid"
      />
    </div>
    <div class="col-sm-7 col-md-8 col-lg-9">
      <div>
        <h3>{{ thread.title }}</h3>
        <div class="user_and_date pb-2">
          <div>{{ thread.account.username }}</div>
          <div>{{ thread.updatedAt.toLocaleDateString("en-US") }}</div>
        </div>
      </div>
      <div class="p-0">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tincidunt, ligula at dignissim finibus, ante nisi
          consequat est, sit amet tincidunt turpis odio et velit. Nullam eget condimentum neque...
        </p>
      </div>
    </div>
    <div class="col-12 col-sm-2 col-md-2 col-lg-1 metrics">
      <div style="display: inline; padding-bottom: 40px">
        <div class="d-flex justify-content-end">
          <span style="white-space: nowrap"
            ><span style="color: red"><i class="bi bi-heart-fill"></i></span> {{ thread.likes }}</span
          >
        </div>
      </div>
      <div class="d-flex justify-content-end" style="display: inline; white-space: nowrap">
        <p><i class="bi bi-chat-text"></i> {{ thread.replyCount }}</p>
      </div>
    </div>
  </div>
</div>

<!--.threadCount-->
<!--.lastPostDate.toLocaleDateString("en-US") -->
