// add padding above and below content of div to make it look more like the figma drawing

.summary-layout {
  display: grid;
  grid-template-columns: 10% 90%;
  padding-top: 40px;
  grid-column-gap: 0%;
}

.user_and_date {
  display: grid;
  grid-template-columns: 10% 10%;
  grid-column-gap: 2%;
}

inline-spacing {
  padding-top: 700px;
}
