// add padding above and below content of div to make it look more like the figma drawing

.summary-layout {
  display: inline-grid;
  grid-template-columns: 105px calc(100% - 120px);
  grid-column-gap: 0%;
}

.user_and_date {
  display: grid;
  grid-template-columns: 50px 50px;
  grid-column-gap: 60px;
}

.test {
  display: grid;
  grid-template-columns: calc(100% - 100px) 100px;
  grid-column-gap: 0%;
}

inline-spacing {
  padding-top: 700px;
}

.threads {
  background: #fef4e8;
}
