<div *ngIf="currentAddress" class="container">
  <div class="row mt-5">
    <div class="col text-center">
      <h2>Update Your Address</h2>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-3 col-lg-4"></div>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <p><b>Current Address On File</b></p>
      <p>
        {{ currentAddress.addressLine1
        }}<span *ngIf="currentAddress.addressLine2">, {{ currentAddress.addressLine2 }}</span
        ><br />{{ currentAddress.city }} {{ currentAddress.state }}, {{ currentAddress.zipcode }}
      </p>
    </div>
  </div>
  <form [formGroup]="updateAddressForm">
    <div class="row address-1-row mt-4">
      <div class="col-xs-12 col-sm-12 col-12">
        <app-basic-text-field
          [title]="'Address Line 1'"
          [field]="'address'"
          [placeholder]="'Address line 1'"
          [form]="updateAddressForm"
          [errors]="['required']"
          [errorMessages]="['Please enter your address.']"
        ></app-basic-text-field>
      </div>
    </div>
    <div class="row address-2-row">
      <div class="col-sm-8">
        <app-basic-text-field
          [title]="'Address Line 2'"
          [field]="'address2'"
          [form]="updateAddressForm"
          [placeholder]="'Apt, house number, unit, etc.'"
        ></app-basic-text-field>
      </div>
    </div>
    <div class="row address-info-row">
      <div class="col-md-5">
        <app-basic-text-field
          [title]="'City'"
          [field]="'city'"
          [form]="updateAddressForm"
          [placeholder]="'Enter your city'"
          [errors]="['required']"
          [errorMessages]="['Please enter a city.']"
        ></app-basic-text-field>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="state"><b>State</b><span class="required-star">*</span></label>
          <select
            class="m-3 form-select"
            name="state"
            id="state"
            formControlName="state"
            style="border-top: 0px; border-right: 0px; border-left: 0px"
          >
            <option *ngFor="let s of STATES" [value]="s">
              {{ s }}
            </option>
          </select>
          <div
            *ngIf="
              updateAddressForm.get('state')?.invalid &&
              (updateAddressForm.get('state')?.dirty || updateAddressForm.get('state')?.touched)
            "
          >
            <small *ngIf="updateAddressForm.get('state')?.errors?.required" class="input-error"
              >Please choose a state.<br
            /></small>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <app-basic-text-field
          [title]="'Zip Code'"
          [field]="'zip'"
          [placeholder]="'Enter zip'"
          [form]="updateAddressForm"
          [errors]="['required', 'pattern']"
          [errorMessages]="['Please enter your zip code.', 'Please enter a valid zip code.']"
        ></app-basic-text-field>
      </div>
    </div>
  </form>
  <div class="row mt-5">
    <div class="col-md-3 col-lg-4"></div>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <button class="btn btn-primary text-white w-100" [disabled]="submittingForm" (click)="onSubmit()">
        Update Address
      </button>
    </div>
  </div>
</div>
