<div *ngIf="currentAccount" class="container mt-5">
  <div class="row">
    <div class="col">
      <h2>Your Account</h2>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-sm-12 col-md-6">
      <h3>Personal Information</h3>
      <p><b>Name:</b> {{ currentAccount.firstName }} {{ currentAccount.lastName }}</p>
      <p><b>Username:</b> {{ currentAccount.username }}</p>
      <p><b>Email:</b> {{ currentAccount.email }}</p>
      <p *ngIf="isUser">
        <b>Profile Completed:</b> {{ currentAccount.profileCompleted ? "Yes" : "No" }}
        <span *ngIf="!currentAccount.profileCompleted"
          ><br /><a href="javascript:void(0)" [routerLink]="'/login/complete-profile'"
            >Click here to complete your profile</a
          ><br
        /></span>
        <span *ngIf="!currentAccount.profileCompleted" class=""
          ><small
            ><i>You must complete your profile before you are able to use the respite search functionality.</i></small
          ></span
        >
      </p>
      <p *ngIf="!isUser"><b>Account Level:</b> {{ currentAccount.privilege }}</p>
    </div>
    <div *ngIf="isUser" class="col-sm-12 col-md-6 mt-sm-5 mt-md-0">
      <h3>Case Worker Information</h3>
      <p><b>Case Worker Name:</b> {{ currentAccount.cwFirstName }} {{ currentAccount.cwLastName }}</p>
      <p><b>Case Worker Email:</b> {{ currentAccount.cwEmail }}</p>
      <p><b>Case Worker Phone Number:</b> {{ currentAccount.cwPhoneNumber }}</p>
      <p><b>County or Agency Certified By:</b> {{ currentAccount.certifiedBy }}</p>
      <!-- TODO: Make sure that users should be able to update their case worker information -->
      <p><a href="javascript:void(0)">Click here to update your case worker information.</a></p>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-sm-12 col-md-6">
      <h3>Address</h3>
      <p>
        {{ currentAccount.address.addressLine1 }}
        <span *ngIf="currentAccount.address.addressLine2">, {{ currentAccount.address.addressLine2 }}</span
        ><br />{{ currentAccount.address.city }} {{ currentAccount.address.state }},
        {{ currentAccount.address.zipcode }}
      </p>
      <p><a href="javascript:void(0)" [routerLink]="'/account/update-address'">Update your address</a></p>
    </div>
    <div class="col-sm-12 col-md-6 mt-sm-5 mt-md-0">
      <h3>Phone Number<span *ngIf="currentAccount.secondaryPhoneNumber">s</span></h3>
      <p>
        <b>Primary Phone Number:</b> {{ currentAccount.primaryPhoneNumber.phoneNumber }} ({{
          currentAccount.primaryPhoneNumber.type
        }})
      </p>
      <p *ngIf="currentAccount.secondaryPhoneNumber">
        <b>Secondary Phone Number:</b> {{ currentAccount.secondaryPhoneNumber.phoneNumber }} ({{
          currentAccount.secondaryPhoneNumber.type
        }})
      </p>
      <p>
        <a href="javascript:void(0)" [routerLink]="'/account/update-phone-number'"
          >Update your phone number<span *ngIf="currentAccount.secondaryPhoneNumber">s</span
          ><span *ngIf="!currentAccount.secondaryPhoneNumber"> or add a secondary phone number.</span></a
        >
      </p>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-sm-12 col-md-6">
      <h3>Password</h3>
      <p><a href="javascript:void(0)" [routerLink]="'/account/update-password'">Update your password</a></p>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-sm-12 col-md-6">
      <h3>Delete Your Account</h3>
      <p><button class="btn btn-danger mt-2" (click)="deleteAccount()">Delete Account</button></p>
    </div>
  </div>
</div>
