<div *ngIf="currentSecAccountHolder" class="container">
  <div class="row mt-5">
    <div class="col text-center">
      <h2>Update Your Secondary Account Holder</h2>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-1 col-lg-2"></div>
    <div class="col-sm-12 col-md-10 col-lg-8">
      <p><b>Current Information On File</b></p>
      <p>
        <span *ngIf="currentSecAccountHolder.firstName"
          ><b>First Name: </b>{{ currentSecAccountHolder.firstName }}</span
        >
        <br *ngIf="currentSecAccountHolder.firstName" />
        <span *ngIf="currentSecAccountHolder.lastName"><b>Last Name: </b>{{ currentSecAccountHolder.lastName }}</span>
        <br *ngIf="currentSecAccountHolder.lastName" />
        <span *ngIf="currentSecAccountHolder.relationshipToPrimary"
          ><b>Relationship To Primary: </b>{{ currentSecAccountHolder.relationshipToPrimary }}</span
        >
        <br *ngIf="currentSecAccountHolder.relationshipToPrimary" />
        <span *ngIf="currentSecAccountHolder.preferredName"
          ><b>Preferred Name: </b>{{ currentSecAccountHolder.preferredName }}</span
        >
        <br *ngIf="currentSecAccountHolder.preferredName" />
        <span *ngIf="currentSecAccountHolder.pronouns"><b>Pronouns: </b>{{ currentSecAccountHolder.pronouns }}</span>
        <br *ngIf="currentSecAccountHolder.pronouns" />
        <span *ngIf="currentSecAccountHolder.gender"><b>Gender: </b>{{ currentSecAccountHolder.gender }}</span>
        <br *ngIf="currentSecAccountHolder.gender" />
        <span *ngIf="currentSecAccountHolder.maritalStatus"
          ><b>Marital Status: </b>{{ currentSecAccountHolder.maritalStatus }}</span
        >
        <br *ngIf="currentSecAccountHolder.maritalStatus" />
        <span *ngIf="currentSecAccountHolder.email"><b>Email: </b>{{ currentSecAccountHolder.email }}</span>
        <br *ngIf="currentSecAccountHolder.email" />
        <span *ngIf="currentSecAccountHolder.secAccountHolderPhone"
          ><b>Phone Number: </b>{{ currentSecAccountHolder.secAccountHolderPhone.phoneNumber }}</span
        >
        <br *ngIf="currentSecAccountHolder.secAccountHolderPhone" />
        <span *ngIf="currentSecAccountHolder.secAccountHolderPhone"
          ><b>Phone Number Type: </b>{{ currentSecAccountHolder.secAccountHolderPhone.type }}</span
        >
        <br *ngIf="currentSecAccountHolder.secAccountHolderPhone" />
      </p>
      <small>Any fields that are not filled out will not be updated.</small>
    </div>
  </div>
  <form [formGroup]="updateSecAccountHolderForm">
    <div class="row secondary-account-holder-row mt-5">
      <div class="col-sm-12">
        <div class="row secNameRow">
          <div class="col-sm-12 col-md-6">
            <app-basic-text-field
              [title]="'First Name'"
              [field]="'firstName'"
              [placeholder]="'Enter first name'"
              [form]="updateSecAccountHolderForm"
            ></app-basic-text-field>
          </div>
          <div class="col-sm-12 col-md-6">
            <app-basic-text-field
              [title]="'Last Name'"
              [field]="'lastName'"
              [placeholder]="'Enter last name'"
              [form]="updateSecAccountHolderForm"
            ></app-basic-text-field>
          </div>
        </div>
        <div class="row sec-pref-name-row">
          <div class="col-xs-12 col-sm-12, col-md-6">
            <app-basic-text-field
              [title]="'Preferred Name'"
              [subtitle]="'This is the name that will appear publicly to others.'"
              [field]="'preferredName'"
              [placeholder]="'Enter preferred name'"
              [form]="updateSecAccountHolderForm"
            ></app-basic-text-field>
          </div>
        </div>
        <div class="row sec-gender-pronouns-marital-row">
          <div class="col-sm-6 col-md-4 my-auto">
            <div class="form-group my-auto">
              <label for="gender"><b>Gender</b></label>
              <select
                class="m-3 form-select"
                name="gender"
                id="gender"
                formControlName="gender"
                style="border-top: 0px; border-right: 0px; border-left: 0px"
              >
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Other">Other</option>
              </select>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="form-group">
              <label class="mt-4" for="pronouns"><b>Pronouns</b></label>
              <input
                class="form-control p-1 m-0 bottom-border-input"
                id="pronouns"
                placeholder="Enter their pronouns (e.g. she/her)"
                formControlName="pronouns"
              />
            </div>
          </div>
          <div class="col-sm-6 col-md-4 my-auto">
            <div class="form-group my-auto">
              <label for="maritalStatus"><b>Marital Status</b></label>
              <select
                class="m-3 form-select"
                name="maritalStatus"
                id="maritalStatus"
                formControlName="maritalStatus"
                style="border-top: 0px; border-right: 0px; border-left: 0px"
              >
                <option value="Married">Married</option>
                <option value="Single">Single</option>
                <option value="Other">Other</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row sec-contact-row">
          <div class="col-sm-12 col-md-6">
            <app-basic-text-field
              [form]="updateSecAccountHolderForm"
              [field]="'email'"
              [title]="'Email'"
              [placeholder]="'Enter email'"
              [errors]="['email']"
              [errorMessages]="['Please enter a valid email.']"
            >
            </app-basic-text-field>
          </div>
          <div class="col-sm-8 col-md-4">
            <app-basic-text-field
              [form]="updateSecAccountHolderForm"
              [type]="'tel'"
              [field]="'secAccountHolderPhone'"
              [title]="'Enter Phone Number'"
              [placeholder]="'Enter phone number'"
              [errors]="['invalidPhone']"
              [errorMessages]="['Please enter a valid phone number.']"
            ></app-basic-text-field>
          </div>
          <div class="col-sm-4 col-md-2">
            <div class="form-group">
              <label for="secAccountHolderPhoneType"><b>Type</b></label>
              <select
                class="m-3 form-select"
                name="type"
                id="secAccountHolderPhoneType"
                formControlName="secAccountHolderPhoneType"
                style="border-top: 0px; border-right: 0px; border-left: 0px"
              >
                <option *ngFor="let phoneType of PHONE_TYPES" [value]="phoneType">
                  {{ phoneType }}
                </option>
              </select>
              <div
                *ngIf="
                  updateSecAccountHolderForm.get('secAccountHolderPhoneType')?.invalid &&
                  (updateSecAccountHolderForm.get('secAccountHolderPhoneType')?.dirty ||
                    updateSecAccountHolderForm.get('secAccountHolderPhoneType')?.touched)
                "
              >
                <small
                  *ngIf="updateSecAccountHolderForm.get('secAccountHolderPhoneType')?.errors?.required"
                  class="input-error"
                  >Please select a phone number type.<br
                /></small>
              </div>
            </div>
          </div>
        </div>
        <div class="row sec-relation-row">
          <div class="col-sm-12 col-md-6">
            <app-basic-text-field
              [title]="'Relationship to Primary Account Holder'"
              [field]="'relationshipToPrimary'"
              [placeholder]="'Enter relationship'"
              [form]="updateSecAccountHolderForm"
            ></app-basic-text-field>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="row my-5">
    <div class="col-md-3 col-lg-4"></div>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <button class="btn btn-primary text-white w-100" [disabled]="submittingForm" (click)="onSubmit()">
        Update Secondary Account Holder
      </button>
    </div>
  </div>
</div>
