<div class="table-container">
  <div *ngFor="let blacklistedUser of blacklist; index as i">
    <div class="row fs-tan-background user-row p-4" [ngClass]="{ 'mt-4': i != 0 }">
      <div class="col-sm-8 m-auto">
        <span
          ><b>{{ blacklistedUser.firstName }} {{ blacklistedUser.lastName }}</b></span
        ><br />
        <span>{{ blacklistedUser.email }}</span
        ><br />
        <span>{{ blacklistedUser.phoneNumber }}</span
        ><br />
        <span><b>Reason:</b></span
        ><br />
        <div class="ml-1 ban-desc pl-2">
          <span
            ><i>{{ blacklistedUser.reason }}</i></span
          ><br />
        </div>
        <small
          ><i
            >Banned on {{ getFormattedDateForUser(i) }} by {{ blacklistedUser.bannedByAccount.firstName }}
            {{ blacklistedUser.bannedByAccount.lastName }}</i
          ></small
        >
      </div>
      <div class="col-xs-12 col-sm-4 m-auto">
        <button (click)="removeFromBlacklist(i)" class="btn btn-primary mr-5 text-white w-100 my-2 remove-button">
          Remove From Blacklist
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="blacklist.length == 0" class="row">
    <div class="col-xs-12 mx-auto bg-light rounded mt-5">
      <div class="p-5">NO BLACKLISTED USERS FOUND</div>
    </div>
  </div>
</div>
