<div class="container-fluid" *ngIf="day && dayModel">
  <div class="row">
    <div class="col border-bottom pb-1 mb-1 mr-2">
      <span> {{ day | titlecase }} </span>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          [id]="'morningCheck' + index"
          [(ngModel)]="dayModel[0]"
        />
        <label class="form-check-label" for="morningCheck"> Morning </label>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          [id]="'afternoonCheck' + index"
          [(ngModel)]="dayModel[1]"
        />
        <label class="form-check-label" for="afternoonCheck"> Afternoon </label>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          [id]="'eveningCheck' + index"
          [(ngModel)]="dayModel[2]"
        />
        <label class="form-check-label" for="eveningCheck"> Evening </label>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" [id]="'overnight' + index" [(ngModel)]="dayModel[3]" />
        <label class="form-check-label" for="overnight"> Overnight </label>
      </div>
    </div>
  </div>
</div>
