<div class="container">
  <div class="row my-5">
    <div class="col text-center">
      <h2>Add a Secondary Account Holder</h2>
      <small
        >For example if you have a 2 person parental unit, you may share an account with your spouse, whose information
        you would add here.</small
      >
    </div>
  </div>
  <form [formGroup]="createSecAccountHolderForm">
    <div class="row secondary-account-holder-row">
      <div class="col-sm-12">
        <div class="row secNameRow">
          <div class="col-sm-12 col-md-6">
            <app-basic-text-field
              [title]="'First Name'"
              [field]="'firstName'"
              [placeholder]="'Enter first name'"
              [form]="createSecAccountHolderForm"
              [errors]="['required']"
              [errorMessages]="['Please enter the first name of the secondary account holder.']"
            ></app-basic-text-field>
          </div>
          <div class="col-sm-12 col-md-6">
            <app-basic-text-field
              [title]="'Last Name'"
              [field]="'lastName'"
              [placeholder]="'Enter last name'"
              [form]="createSecAccountHolderForm"
              [errors]="['required']"
              [errorMessages]="['Please enter the last name of the secondary account holder.']"
            ></app-basic-text-field>
          </div>
        </div>
        <div class="row sec-pref-name-row">
          <div class="col-xs-12 col-sm-12, col-md-6">
            <app-basic-text-field
              [title]="'Preferred Name'"
              [subtitle]="'This is the name that will appear publicly to others.'"
              [field]="'preferredName'"
              [placeholder]="'Enter preferred name'"
              [form]="createSecAccountHolderForm"
              [errors]="['required']"
              [errorMessages]="['Please enter the secondary account holder\'s preferred name.']"
            ></app-basic-text-field>
          </div>
        </div>
        <div class="row sec-gender-pronouns-marital-row">
          <div class="col-sm-6 col-md-4 my-auto">
            <div class="form-group my-auto">
              <label for="gender"><b>Gender</b><span class="required-star">*</span></label>
              <select
                class="m-3 form-select"
                name="gender"
                id="gender"
                formControlName="gender"
                style="border-top: 0px; border-right: 0px; border-left: 0px"
              >
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Other">Other</option>
              </select>
              <div
                *ngIf="
                  createSecAccountHolderForm.get('gender')?.invalid &&
                  (createSecAccountHolderForm.get('gender')?.dirty || createSecAccountHolderForm.get('gender')?.touched)
                "
              >
                <small *ngIf="createSecAccountHolderForm.get('gender')?.errors?.required" class="input-error"
                  >Please select gender for secondary account holder.<br
                /></small>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <app-basic-text-field
              [title]="'Pronouns'"
              [field]="'pronouns'"
              [placeholder]="'Enter their pronouns (e.g. she/her)'"
              [form]="createSecAccountHolderForm"
            ></app-basic-text-field>
          </div>
          <div class="col-sm-6 col-md-4 my-auto">
            <div class="form-group my-auto">
              <label for="maritalStatus"><b>Marital Status</b></label>
              <select
                class="m-3 form-select"
                name="maritalStatus"
                id="maritalStatus"
                formControlName="maritalStatus"
                style="border-top: 0px; border-right: 0px; border-left: 0px"
              >
                <option value="Married">Married</option>
                <option value="Single">Single</option>
                <option value="Other">Other</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row sec-contact-row">
          <div class="col-sm-12 col-md-6">
            <app-basic-text-field
              [form]="createSecAccountHolderForm"
              [field]="'email'"
              [title]="'Email'"
              [placeholder]="'Enter email'"
              [errors]="['required', 'email']"
              [errorMessages]="['Please enter the secondary account holder\'s email.', 'Please enter a valid email.']"
            >
            </app-basic-text-field>
          </div>
          <div class="col-sm-8 col-md-4">
            <app-basic-text-field
              [form]="createSecAccountHolderForm"
              [type]="'tel'"
              [field]="'secAccountHolderPhone'"
              [title]="'Enter Phone Number'"
              [placeholder]="'Enter phone number'"
              [errors]="['required', 'invalidPhone']"
              [errorMessages]="[
                'Please enter the secondary account holder\'s phone number.',
                'Please enter a valid phone number.'
              ]"
            ></app-basic-text-field>
          </div>
          <div class="col-sm-4 col-md-2">
            <div class="form-group">
              <label for="secAccountHolderPhoneType"><b>Type</b><span class="required-star">*</span></label>
              <select
                class="m-3 form-select"
                name="type"
                id="secAccountHolderPhoneType"
                formControlName="secAccountHolderPhoneType"
                style="border-top: 0px; border-right: 0px; border-left: 0px"
              >
                <option *ngFor="let phoneType of PHONE_TYPES" [value]="phoneType">
                  {{ phoneType }}
                </option>
              </select>
              <div
                *ngIf="
                  createSecAccountHolderForm.get('secAccountHolderPhoneType')?.invalid &&
                  (createSecAccountHolderForm.get('secAccountHolderPhoneType')?.dirty ||
                    createSecAccountHolderForm.get('secAccountHolderPhoneType')?.touched)
                "
              >
                <small
                  *ngIf="createSecAccountHolderForm.get('secAccountHolderPhoneType')?.errors?.required"
                  class="input-error"
                  >Please select a phone number type.<br
                /></small>
              </div>
            </div>
          </div>
        </div>
        <div class="row sec-relation-row">
          <div class="col-sm-12 col-md-6">
            <app-basic-text-field
              [title]="'Relationship to Primary Account Holder'"
              [field]="'relationshipToPrimary'"
              [placeholder]="'Enter relationship'"
              [form]="createSecAccountHolderForm"
              [errors]="['required']"
              [errorMessages]="['Please enter your relation to the secondary account holder.']"
            ></app-basic-text-field>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="row my-5">
    <div class="col-md-3 col-lg-4"></div>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <button class="btn btn-primary text-white w-100" [disabled]="submittingForm" (click)="onSubmit()">
        Add Secondary Account Holder
      </button>
    </div>
  </div>
  <div class="row my-5">
    <small><span class="required-star">*</span> indicates required field</small>
  </div>
</div>
