<div class="container p-5 bg-white mt-5 mb-5">
  <h1 class="mt-5 text-center">Request a Staff Account</h1>
  <form [formGroup]="createStaffAccountForm" (ngSubmit)="createAccountSubmit()">
    <div class="row mt-5 mb-2">
      <h3>Personal Information</h3>
    </div>
    <div class="row name-row">
      <div class="col-sm-12 col-md-6">
        <app-basic-text-field
          [form]="createStaffAccountForm"
          [field]="'fname'"
          [title]="'First Name'"
          [placeholder]="'Enter first name'"
          [errors]="['required']"
          [errorMessages]="['Please enter your first name.']"
        >
        </app-basic-text-field>
      </div>
      <div class="col-sm-12 col-md-6">
        <app-basic-text-field
          [form]="createStaffAccountForm"
          [field]="'lname'"
          [title]="'Last Name'"
          [placeholder]="'Enter last name'"
          [errors]="['required']"
          [errorMessages]="['Please enter your last name.']"
        >
        </app-basic-text-field>
      </div>
    </div>
    <div class="row username-row">
      <div class="col-md-6">
        <app-basic-text-field
          [form]="createStaffAccountForm"
          [field]="'user'"
          [title]="'Username'"
          [placeholder]="'Enter username'"
          [errors]="['required', 'minlength', 'maxlength', 'pattern']"
          [errorMessages]="[
            'Please enter your first name.',
            'Please enter a longer username.',
            'Please enter a shorter username.',
            'Invalid characters in username.'
          ]"
        >
        </app-basic-text-field>
      </div>
    </div>
    <div class="row email-row">
      <div class="col-md-6">
        <app-basic-text-field
          [form]="createStaffAccountForm"
          [field]="'email'"
          [title]="'Email'"
          [placeholder]="'Enter email'"
          [errors]="['required', 'email']"
          [errorMessages]="['Please enter your email.', 'Please enter a valid email.']"
        >
        </app-basic-text-field>
      </div>
      <div class="col-md-6">
        <app-basic-text-field
          [form]="createStaffAccountForm"
          [field]="'confirmEmail'"
          [title]="'Confirm Email'"
          [placeholder]="'Confirm email'"
          [errors]="['required']"
          [errorMessages]="['Please confirm your email.']"
          [formErrors]="['emailMatch']"
          [formErrorMessages]="['Emails do not match.']"
        >
        </app-basic-text-field>
      </div>
    </div>
    <div class="row pass-row">
      <div class="col-md-6">
        <app-basic-text-field
          [form]="createStaffAccountForm"
          [field]="'password'"
          [title]="'Password'"
          [placeholder]="'Enter password'"
          [errors]="['required', 'minlength']"
          [errorMessages]="['Please enter your password.', 'Please enter a password that is at least 8 characters.']"
        >
        </app-basic-text-field>
      </div>
      <div class="col-md-6">
        <app-basic-text-field
          [form]="createStaffAccountForm"
          [field]="'confirmpassword'"
          [title]="'Confirm Password'"
          [placeholder]="'Confirm password'"
          [errors]="['required']"
          [errorMessages]="['Please confirm your password.']"
          [formErrors]="['passwordMatch']"
          [formErrorMessages]="['Passwords do not match.']"
        >
        </app-basic-text-field>
      </div>
    </div>
    <div class="row phones-row">
      <div class="col-xs-8 col-md-4">
        <app-basic-text-field
          [form]="createStaffAccountForm"
          [type]="'tel'"
          [field]="'primaryPhone'"
          [title]="'Enter Primary Phone Number'"
          [placeholder]="'Enter phone number'"
          [errors]="['required', 'invalidPhone']"
          [errorMessages]="['Please enter your primary phone number.', 'Please enter a valid phone number.']"
        ></app-basic-text-field>
      </div>
      <div class="col-xs-4 col-md-2">
        <div class="form-group">
          <label for="primaryType"><b>Type</b><span class="required-star">*</span></label>
          <select
            class="m-3 form-select"
            name="type"
            id="primaryType"
            formControlName="primaryType"
            style="border-top: 0px; border-right: 0px; border-left: 0px"
          >
            <option *ngFor="let phoneType of PHONE_TYPES" [value]="phoneType">
              {{ phoneType }}
            </option>
          </select>
          <div
            *ngIf="
              createStaffAccountForm.get('primaryType')?.invalid &&
              (createStaffAccountForm.get('primaryType')?.dirty || createStaffAccountForm.get('primaryType')?.touched)
            "
          >
            <small *ngIf="createStaffAccountForm.get('primaryType')?.errors?.required" class="input-error"
              >Please select a phone number type.<br
            /></small>
          </div>
        </div>
      </div>
      <div class="col-xs-8 col-md-4">
        <app-basic-text-field
          [form]="createStaffAccountForm"
          [type]="'tel'"
          [field]="'secondaryPhone'"
          [title]="'Enter Secondary Phone Number'"
          [placeholder]="'Enter phone number'"
          [errors]="['invalidPhone']"
          [errorMessages]="['Please enter a valid phone number.']"
        ></app-basic-text-field>
      </div>
      <div class="col-xs-4 col-md-2">
        <div class="form-group">
          <label for="primaryType"><b>Type</b></label>
          <select
            class="m-3 form-select"
            name="type"
            id="secondaryType"
            formControlName="secondaryType"
            style="border-top: 0px; border-right: 0px; border-left: 0px"
          >
            <option value="Home">Home</option>
            <option value="Mobile">Mobile</option>
            <option value="Work">Work</option>
          </select>
          <div
            *ngIf="
              createStaffAccountForm.get('secondaryType')?.invalid &&
              (createStaffAccountForm.get('secondaryType')?.dirty ||
                createStaffAccountForm.get('secondaryType')?.touched)
            "
          >
            <small *ngIf="createStaffAccountForm.get('secondaryType')?.errors?.required" class="input-error"
              >Please select a phone number type.<br
            /></small>
          </div>
        </div>
      </div>
    </div>
    <div class="row address-1-row">
      <div class="col-xs-12 col-sm-12 col-12">
        <app-basic-text-field
          [form]="createStaffAccountForm"
          [field]="'address'"
          [title]="'Address Line 1'"
          [errors]="['required']"
          [errorMessages]="['Please enter your address.']"
        >
        </app-basic-text-field>
      </div>
    </div>
    <div class="row address-2-row">
      <div class="col-sm-8">
        <app-basic-text-field [form]="createStaffAccountForm" [field]="'address2'" [title]="'Address Line 2'">
        </app-basic-text-field>
      </div>
    </div>
    <div class="row address-info-row">
      <div class="col-md-5">
        <app-basic-text-field
          [form]="createStaffAccountForm"
          [field]="'city'"
          [title]="'City'"
          [errors]="['required']"
          [errorMessages]="['Please enter a city.']"
        ></app-basic-text-field>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="state"><b>State</b><span class="required-star">*</span></label>
          <select
            class="m-3 form-select"
            name="state"
            id="state"
            formControlName="state"
            style="border-top: 0px; border-right: 0px; border-left: 0px"
          >
            <option *ngFor="let s of STATES" [value]="s">
              {{ s }}
            </option>
          </select>
          <div
            *ngIf="
              createStaffAccountForm.get('state')?.invalid &&
              (createStaffAccountForm.get('state')?.dirty || createStaffAccountForm.get('state')?.touched)
            "
          >
            <small *ngIf="createStaffAccountForm.get('state')?.errors?.required" class="input-error"
              >Please choose a state.<br
            /></small>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <app-basic-text-field
          [form]="createStaffAccountForm"
          [field]="'zip'"
          [title]="'Zip Code'"
          [errors]="['required', 'pattern']"
          [errorMessages]="['Please enter a zip code.', 'Please enter a valid zip code.']"
        ></app-basic-text-field>
      </div>
    </div>
    <hr />
    <div class="row staff-access-key-row">
      <div class="col-md-6">
        <app-basic-text-field
          [form]="createStaffAccountForm"
          [field]="'staffAccessKey'"
          [title]="'Staff Access Key'"
          [subtitle]="'(Contact a staff member for the access key)'"
          [errors]="['required']"
          [errorMessages]="['Please enter a zip code.']"
        ></app-basic-text-field>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="privilegeLevel"
            ><b
              >Requested Privilege Level
              <small
                >(Moderator: Basic staff account, can approve/remove users, post announcements | Administrator:
                Moderator privileges + approve new staff accounts, view bug reports + analytics)</small
              ></b
            ><span class="required-star">*</span></label
          >
          <select
            class="m-3 form-select"
            name="privilegeLevel"
            id="privilegeLevel"
            formControlName="privilegeLevel"
            style="border-top: 0px; border-right: 0px; border-left: 0px"
          >
            <option value="MOD">Moderator</option>
            <option value="ADMIN">Administrator</option>
          </select>
          <div
            *ngIf="
              createStaffAccountForm.get('privilegeLevel')?.invalid &&
              (createStaffAccountForm.get('privilegeLevel')?.dirty ||
                createStaffAccountForm.get('privilegeLevel')?.touched)
            "
          >
            <small *ngIf="createStaffAccountForm.get('privilegeLevel')?.errors?.required" class="input-error"
              >Please choose a privilege level.<br
            /></small>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6 mx-auto">
        <button
          type="submit"
          id="createAccountButton"
          class="btn btn-primary w-100 p-2 mb-5 mt-2 text-white"
          [disabled]="disableSubmitButton"
        >
          Create Account
        </button>
      </div>
    </div>
  </form>
  <small><span class="required-star">*</span> indicates required field</small>
</div>
