<div *ngIf="currentProfile" class="container mt-5">
  <div class="row">
    <div class="col">
      <h2>Your Profile</h2>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-sm-12 col-md-6">
      <h3>Profile Information</h3>
      <p><b>Preferred/Display Name:</b> {{ currentProfile.preferredName }}</p>
      <p class="break-anywhere"><b>Biography:</b> {{ currentProfile.biography }}</p>
      <p><b>Gender:</b> {{ currentProfile.gender }}</p>
      <span *ngIf="currentProfile.pronouns"
        ><p><b>Pronouns: </b>{{ currentProfile.pronouns }}</p></span
      >
      <span *ngIf="currentProfile.maritalStatus"
        ><p><b>Marital Status: </b>{{ currentProfile.maritalStatus }}</p></span
      >
      <p>
        <a id="edit-profile-link" [routerLink]="'/user/update/profile'"
          >Click here to update your profile information.</a
        >
      </p>
    </div>
    <div class="col-sm-12 col-md-6 mt-sm-5 mt-md-0">
      <h3>Secondary Account Holder</h3>
      <div *ngIf="currentProfile.secAccountHolder">
        <p>
          <b>Name:</b> {{ currentProfile.secAccountHolder.firstName }} {{ currentProfile.secAccountHolder.lastName }}
        </p>
        <p><b>Preferred/Display Name:</b> {{ currentProfile.secAccountHolder.preferredName }}</p>
        <p><b>Gender:</b> {{ currentProfile.secAccountHolder.gender }}</p>
        <span *ngIf="currentProfile.secAccountHolder.pronouns"
          ><p><b>Pronouns:</b> {{ currentProfile.secAccountHolder.pronouns }}</p></span
        >
        <span *ngIf="currentProfile.secAccountHolder.maritalStatus"
          ><p><b>Marital Status:</b> {{ currentProfile.secAccountHolder.maritalStatus }}</p></span
        >
        <p><b>Email:</b> {{ currentProfile.secAccountHolder.email }}</p>
        <p>
          <b>Phone:</b> {{ currentProfile.secAccountHolder.secAccountHolderPhone.phoneNumber }} ({{
            currentProfile.secAccountHolder.secAccountHolderPhone.type
          }})
        </p>
        <p>
          <a id="edit-sec-link" [routerLink]="'/user/update/secondary-account-holder'"
            >Click here to update your secondary account holder's information</a
          >
        </p>
      </div>
      <div *ngIf="!currentProfile.secAccountHolder">
        <p><i>You do not currently have a secondary account holder added to this profile.</i></p>
        <p>
          <a id="add-sec-link" [routerLink]="'/user/create/secondary-account-holder'"
            >Click here to add a secondary account holder</a
          >
        </p>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-sm-12 col-md-6">
      <h3>Household Background</h3>
      <p><b>Parental Unit Size:</b> {{ currentProfile.householdBackground.parentalUnitSize }}</p>
      <p><b>Household Size:</b> {{ currentProfile.householdBackground.householdSize }}</p>
      <p><b>Children in Household:</b> {{ currentProfile.householdBackground.childrenInHousehold }}</p>
      <p class="break-anywhere"><b>Children Info:</b> {{ currentProfile.householdBackground.childrenInfo }}</p>
      <p><b>Children in Household:</b> {{ currentProfile.householdBackground.childrenInHousehold }}</p>
      <span *ngIf="currentProfile.householdBackground.petInfo"
        ><p><b>Pet Information:</b> {{ currentProfile.householdBackground.petInfo }}</p></span
      >
      <p class="break-anywhere"><b>Additional Info:</b> {{ currentProfile.householdBackground.additionalDetails }}</p>
      <p><b>Children in Household:</b> {{ currentProfile.householdBackground.childrenInHousehold }}</p>
      <span *ngIf="currentProfile.householdBackground.vehicleAccess !== undefined"
        ><p><b>Access to Vehicle:</b> {{ currentProfile.householdBackground.vehicleAccess ? "Yes" : "No" }}</p></span
      >
      <span *ngIf="currentProfile.householdBackground.lgbtCareExperience !== undefined"
        ><p>
          <b>Experience caring for LGBTQ+ children:</b>
          {{ currentProfile.householdBackground.lgbtCareExperience ? "Yes" : "No" }}
        </p></span
      >
      <span *ngIf="currentProfile.householdBackground.caredForPhysDisabled !== undefined"
        ><p>
          <b>Experience caring for physically disabled children:</b>
          {{ currentProfile.householdBackground.caredForPhysDisabled ? "Yes" : "No" }}
        </p></span
      >
      <span *ngIf="currentProfile.householdBackground.caredForIntelDisabled !== undefined"
        ><p>
          <b>Experience caring for intellectually disabled children:</b>
          {{ currentProfile.householdBackground.caredForIntelDisabled ? "Yes" : "No" }}
        </p></span
      >
      <span *ngIf="currentProfile.householdBackground.caredForMedicallyFragile !== undefined"
        ><p>
          <b>Experience caring for medically fragile children:</b>
          {{ currentProfile.householdBackground.caredForMedicallyFragile ? "Yes" : "No" }}
        </p></span
      >
      <span *ngIf="currentProfile.householdBackground.ownsFirearm !== undefined"
        ><p><b>Owns a firearm:</b> {{ currentProfile.householdBackground.ownsFirearm ? "Yes" : "No" }}</p></span
      >
    </div>
    <div class="col-sm-12 col-md-6 mt-sm-5 mt-md-0">
      <h3>Respite Background</h3>
      <p><b>Years of Foster Care Experience:</b> {{ currentProfile.respiteBackground.fosterYearsExperience }}</p>
      <p><b>Total # Children Cared For:</b> {{ currentProfile.respiteBackground.totalChildrenCaredFor }}</p>
      <p>
        <b>Are you looking for respite?:</b> {{ currentProfile.respiteBackground.lookingForRespite ? "Yes" : "No" }}
      </p>
      <p>
        <a id="edit-resp-back-link" [routerLink]="'/user/update/respite-background'"
          >Click here to update your respite background</a
        >
      </p>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-sm-12 col-md-6">
      <h3>Respite Provider Info</h3>
      <div
        *ngIf="
          currentProfile.respiteBackground.canProvideRespite && currentProfile.respiteBackground.respiteProviderInfo
        "
      >
        <p>
          <b>City that you are able to provide respite in:</b>
          {{ currentProfile.respiteBackground.respiteProviderInfo.cityCanProvideRespiteIn }}
        </p>
        <p>
          <b>How far can you travel?:</b>
          {{ currentProfile.respiteBackground.respiteProviderInfo.respiteTravelDistance }}
        </p>
        <p>
          <b>Age range able to care for:</b> {{ currentProfile.respiteBackground.respiteProviderInfo.careForMinAge }} -
          {{ currentProfile.respiteBackground.respiteProviderInfo.careForMaxAge }}
        </p>
        <p>
          <b># of children able to care for:</b>
          {{ currentProfile.respiteBackground.respiteProviderInfo.maxNumCareFor }}
        </p>
        <p>
          <a id="update-resp-prov-info-link" [routerLink]="'/user/update/respite-provider-info'"
            >Click here to update your respite provider info.</a
          >
        </p>
      </div>
      <div *ngIf="!currentProfile.respiteBackground.canProvideRespite">
        <p><i>You have indicated that you are unable to provide respite care.</i></p>
        <p>
          <a id="add-resp-prov-info-link" [routerLink]="'/user/create/respite-provider-info'"
            >Click here to start providing respite care.</a
          >
        </p>
      </div>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-sm-12 col-md-6">
      <h3>Account</h3>
      <p><i>To view and edit your account details, navigate to the account page.</i></p>
      <button class="btn btn-primary text-white" [routerLink]="'/account'">Visit Account Page</button>
    </div>
  </div>
</div>
