.topic {
  padding-top: 15px;
  border-radius: 25px;
  background: #fef4e8;
  &:hover {
    background: #ffebd2;
    cursor: pointer;
  }
}

.description {
  padding-bottom: 15px;
}

.title {
  border-radius: 25px;
  text-align: center;
  padding: 7px;
  background: #ffebd2;
}
