@import "../../../styles";

.topic {
  padding-top: 15px;
  background: white;
  border-left: 10px solid map-get($theme-colors, "secondary") !important;
  &:hover {
    background: #f0ebf6;
    cursor: pointer;
  }
}

.title {
  text-align: center;
}
