<div *ngIf="topic" class="w-100 my-2">
  <div class="container-fluid w-100 topic shadow-sm rounded p-3">
    <div class="row mt-2" (click)="navigateToTopic()">
      <div class="col">
        <h3>{{ topic.title }}</h3>
      </div>
    </div>
    <div class="row" (click)="navigateToTopic()">
      <div class="col description">
        {{ topic.description }}
      </div>
    </div>
    <div class="row mt-4" (click)="navigateToTopic()">
      <div class="col"></div>
      <div class="col">
        <div class="col text-right stats">
          <i class="text-muted"
            >{{ topic.threadCount }} <i class="bi bi-chat-text"></i>
            <span *ngIf="topic.lastPostDate">
              | Last Reply: {{ topic.lastPostDate.toLocaleDateString("en-US") }}</span
            ></i
          >
        </div>
      </div>
    </div>
    <div class="row mb-2 mt-4 pt-2 border-top" *ngIf="isMod && clickable">
      <div class="col-6">
        <i class="text-muted">(visible only to staff)</i>
      </div>
      <div class="col-6 text-right">
        <a href="javascript: void(0)" (click)="editSelf()">Edit</a
        ><span *ngIf="isAdmin"
          >&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="javascript: void(0)" (click)="deleteSelf()"
            >Delete (Admin Only)</a
          ></span
        >
      </div>
    </div>
  </div>
</div>
