<div class="container mt-5 mb-5 p-5">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="jumbotron bg-white" id="login-modal">
        <h6 class="mb-5 text-center">Forgot Password</h6>
        <form [formGroup]="forgotPassForm" (ngSubmit)="forgotPassSubmit()">
          <div class="form-group">
            <label for="email"><b>Email</b></label>
            <input
              class="form-control p-1 m-0 bottom-border-input"
              id="email"
              placeholder="Enter Email"
              formControlName="email"
              required
            />
            <div
              *ngIf="
                forgotPassForm.get('email')?.invalid &&
                (forgotPassForm.get('email')?.dirty || forgotPassForm.get('email')?.touched)
              "
            >
              <small *ngIf="forgotPassForm.get('email')?.errors?.required" class="input-error"
                >Please enter email.<br
              /></small>
              <small *ngIf="forgotPassForm.get('email')?.errors?.email" class="input-error"
                >Please enter a valid email.<br
              /></small>
            </div>
          </div>
          <button type="submit" class="btn btn-primary w-100 p-2 mt-3 mb-2 text-white">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
