<div class="container px-5 px-sm-0">
  <h1 class="pt-3">Foster Source Forum</h1>
  <p>
    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
    sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
  </p>
  <h5><b>Click Topics Below to Read</b></h5>
  <div class="row" *ngFor="let topic of topics">
    <app-topic [topic]="topic" class="w-100"></app-topic>
  </div>
  <div class="row my-5" *ngIf="isMod">
    <div class="col-12">
      <a class="float-right" [routerLink]="'/forum/create-topic'">Create a New Topic</a>
    </div>
  </div>
</div>
<div class="container" *ngIf="replies">
  <app-thread-reply *ngFor="let reply of replies" [reply]="reply"></app-thread-reply>
</div>
