<div class="container px-5 px-sm-0">
  <div class="row title-row my-3">
    <div class="col-12">
      <h3>Community Forum</h3>
      <p>
        <i
          >Please make sure that you have read the <a href="/help#forum-rules">forum rules</a> before posting or
          replying.</i
        >
      </p>
    </div>
  </div>
  <div class="row topic-title-row">
    <div class="col-12">
      <p><i>Select a discussion topic below to explore and contribute to.</i></p>
    </div>
  </div>
  <div class="row" *ngFor="let topic of topics">
    <div class="col col-12">
      <app-topic [topic]="topic" class="w-100"></app-topic>
    </div>
  </div>
  <div class="row my-5" *ngIf="isMod">
    <div class="col-12">
      <a class="float-right" [routerLink]="'/forum/create-topic'">Create a New Topic</a>
    </div>
  </div>
</div>
