.table-container {
  width: 100%;
  height: 100%;
}

.table-container::-webkit-scrollbar {
  width: 0px; /* width of the entire scrollbar */
}

.bottom-border-input {
  background-color: transparent;
  color: #1b1613;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid #1b1613 1px;
}

.input-error {
  color: red;
}

.required-star {
  color: red;
}
