<div class="table-container">
  <div
    *ngFor="let user of users"
    class="row fs-tan-background user-row p-4 m-2"
  >
    <div class="col-8 m-auto">
      <span><b>Tim Cook</b></span
      ><br />
      <span>tim.cook@apple.com</span><br />
      <span><i>Case Worker: Gina White, gina.white@colorado.gov</i></span>
    </div>
    <div class="col-2 m-auto">
      <button class="btn btn-primary mr-5 text-white w-100">Approve</button>
    </div>
    <div class="col-2 m-auto">
      <button class="btn btn-secondary w-100">Deny</button>
    </div>
  </div>
</div>
