<app-nav-bar></app-nav-bar>
<div class="bug-tab pl-3 pb-2 pt-1 bg-secondary text-white text-center mb-2 shadow-lg" (click)="launchBugModal()">
  <span class="text-light"><small>Something wrong? Tell us!</small> <i class="bi-bug-fill float-right mr-2"></i></span>
</div>
<app-bug-report-modal [open]="bugModalOpen" (closeModalEvent)="closeBugModal()"></app-bug-report-modal>
<app-toasts></app-toasts>
<div style="min-height: 100vh">
  <router-outlet></router-outlet>
</div>
<footer class="text-center pt-2 pb-2 bg-light-grey w-100 mt-5">
  <small class="light-grey-text">
    © Foster Source 2022 | Made with <i class="bi bi-heart-fill"></i> by
    <a href="https://blueprintboulder.org/">Blueprint Boulder</a> |
    <a href="/help" target="_blank" rel="noopener">Respite Source 101</a>
  </small>
</footer>
