<!-- NGIF topic summary, display a topic. Not the same topic you designed last time, this one should mostly just be
    black text on the white background.
 -->

<!--
  NGIF threadsummaries, display (ngfor="let thread of threads") list of threads in the manner described by James.
-->

<!--TODO: DELETE AFTER MAKING THREAD SUMMARY COMPONENT -->
<div class="container" *ngIf="testThreadForThreadSummaryComponent">
  <div class="row">
    <div class="col-12">
      <app-thread-summary [thread]="testThreadForThreadSummaryComponent"></app-thread-summary>
    </div>
  </div>
</div>
