<div class="wrapper bg-light-grey container-fluid">
  <div class="row">
    <div class="col mt-5">
      <h4><b>Find Respite</b></h4>
      <hr class="border-primary" />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-8 mr-0 pr-0">
      <div class="form-group mr-0">
        <input
          class="form-control p-1 m-0 bottom-border-input rounded-0"
          id="search_bar"
          placeholder="Who are you looking for?"
          formControlName="search_bar"
        />
        <small><i>e.g. "Amy Smith" or "Friendly"</i></small>
      </div>
    </div>
    <div class="col-sm-12 col-md-4 mx-0 px-0 pr-3">
      <button class="btn btn-primary text-white rounded-0 w-100">Search</button>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <hr class="border-primary" />
      <h5>Filter Results</h5>
    </div>
  </div>
  <div class="row"></div>
</div>
