@import "../../../styles";
.thread-small {
  border-left: 5px solid map-get($theme-colors, "primary") !important;
}

.thread-container {
  height: 200px;
  overflow-y: scroll;
}

.pointer {
  &:hover {
    cursor: pointer;
  }
}
