<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarTogglerDemo03"
    aria-controls="navbarTogglerDemo03"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-left" href="#"
    ><img class="nav-respite-source m-2" src="assets/images/respite-source-logo.png" alt="Respite Source Logo"
  /></a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item" [ngClass]="{ active: router.url === '/' }">
        <a class="nav-link" href="#" [routerLink]="'/'"
          >Home <span *ngIf="router.url === '/'" class="sr-only">(current)</span></a
        >
      </li>
      <li *ngIf="currentAccount" class="nav-item" [ngClass]="{ active: router.url === '/respite' }">
        <a class="nav-link" href="#" [routerLink]="'/respite'"
          >Find Respite <span *ngIf="router.url === '/respite'" class="sr-only">(current)</span></a
        >
      </li>
      <li *ngIf="isAdmin" class="nav-item" [ngClass]="{ active: router.url === '/admin' }">
        <a class="nav-link" href="#" [routerLink]="'/admin'"
          >Administration <span *ngIf="router.url === '/admin'" class="sr-only">(current)</span></a
        >
      </li>
      <li *ngIf="!currentAccount" class="nav-item" [ngClass]="{ active: router.url === '/login' }">
        <a class="nav-link" href="#" [routerLink]="'/login'"
          >Login <span *ngIf="router.url === '/login'" class="sr-only">(current)</span></a
        >
      </li>
      <li *ngIf="currentAccount" class="nav-item">
        <a class="nav-link" href="javascript:void(0)">Logout</a>
      </li>
      <li *ngIf="currentAccount && !isAdmin" class="nav-item">
        <a class="nav-link" href="javascript:void(0)">
          <img
            [src]="getProfilePicture()"
            width="32px"
            height="32px"
            class="hidden-xs rounded-circle d-inline-block mr-2"
          />Profile</a
        >
      </li>
    </ul>
  </div>
</nav>
