.availability-table {
  background-color: #fef4e8;
  min-width: 220px;
}

hr.line {
  border: 1px solid black;
  margin-top: 0px;
}

h5.day {
  text-align: center;
}

.word-wrap {
  font-size: keep-all;
}

.profile-column {
  min-width: 223.5px;
}
