<div *ngIf="selectedProfile" class="m-5">
  <div class="container">
    <div class="row">
      <!-- Profile Image -->
      <div class="col-sm-6 col-md-4 profile-column">
        <div class="card border-0">
          <img
            src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
            class="rounded"
            alt="profile picture"
          />
          <div>
            <div>
              <h1 class="card-title text-center text-wrap pt-3">{{ selectedProfile.account.username }}</h1>
              <p class="text-muted text-center" *ngIf="selectedProfile.respiteBackground?.canProvideRespite">
                <em
                  >{{ selectedProfile.respiteBackground.respiteProviderInfo?.respiteTravelDistance }} miles from you</em
                >
              </p>

              <div class="spacer"></div>

              <div class="first-contact-background">
                <p class="first-contact">
                  <b>{{ selectedProfile.account.firstName }} {{ selectedProfile.account.lastName }}</b>
                </p>
                <p class="contact-items-test"><b>Preferred Name: </b>{{ selectedProfile.preferredName }}</p>
                <p class="contact-items-test"><b>Pronouns:</b> {{ selectedProfile.pronouns }}</p>
                <p class="contact-items-test"><b>Age: </b> {{ returnAge(selectedProfile.dob) }}</p>
                <p class="contact-items-test">
                  <b>State and Zip: </b>{{ selectedProfile.account.address.state }},
                  {{ selectedProfile.account.address.zipcode }}
                </p>
                <p class="contact-items-test">
                  <b>Second Account Holder:</b>
                  <span *ngIf="selectedProfile.secAccountHolder"> Yes</span>
                  <span *ngIf="!selectedProfile.secAccountHolder"> No</span>
                </p>
              </div>

              <div class="spacer"></div>

              <div *ngIf="selectedProfile.secAccountHolder" class="second-contact-background">
                <!--                <h5 class="card-text contact-items"><b>Secondary Contact</b></h5>-->
                <p class="second-contact">
                  <b
                    >{{ selectedProfile.secAccountHolder.firstName }} {{ selectedProfile.secAccountHolder.lastName }}</b
                  >
                </p>
                <p class="text-wrap contact-items-test">
                  <b>Relationship: </b>{{ selectedProfile.secAccountHolder.relationshipToPrimary }}
                </p>
                <p class="text-wrap contact-items-test" *ngIf="selectedProfile.secAccountHolder.maritalStatus">
                  <b>Marital Status: </b>{{ selectedProfile.secAccountHolder.maritalStatus }}
                </p>
                <p class="contact-items-test" *ngIf="selectedProfile.secAccountHolder.pronouns">
                  {{ selectedProfile.secAccountHolder.pronouns }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Bio and Availability Table -->
      <div class="col-sm-6 col-md-8">
        <div class="pl-4">
          <div *ngIf="selectedProfile.biography">
            <h4 class="day bio text-left mt-3">About</h4>
            <div class="word-wrap about-height">
              <!--              about-height-->
              {{ selectedProfile.biography }}
            </div>
            <app-availability-grid [availability]="priAvail"></app-availability-grid>
          </div>
        </div>
      </div>
    </div>

    <!--    <button type="button" class="btn btn-primary btn-lg btn-block text-white contact-grid"(click)="open(content)">Contact</button>-->
    <!-- Acc Template -->
    <div class="py-5">
      <ngb-accordion [closeOthers]="true">
        <ngb-panel id="static-1" title="Certification Background">
          <ng-template ngbPanelContent>
            <div class="row">
              <div class="col-sm-6">Years as a foster parent</div>
              <div class="col-sm-6">{{ selectedProfile.respiteBackground.fosterYearsExperience }}</div>
            </div>
            <div class="row">
              <div class="col-sm-6">Total foster children cared for</div>
              <div class="col-sm-6">{{ selectedProfile.respiteBackground.totalChildrenCaredFor }}</div>
            </div>
          </ng-template>
        </ngb-panel>
        <ngb-panel id="static-2" title="Respite Background">
          <ng-template ngbPanelContent>
            <div class="row">
              <div class="col-sm-6">City/town you can provide respite in</div>
              <div class="col-sm-6">
                {{ selectedProfile.respiteBackground.respiteProviderInfo?.cityCanProvideRespiteIn }}
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">Miles willing to travel to provide respite</div>
              <div class="col-sm-6">
                {{ selectedProfile.respiteBackground.respiteProviderInfo?.respiteTravelDistance }}
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">Age range of children to care for</div>
              <div class="col-sm-6">
                {{ selectedProfile.respiteBackground.respiteProviderInfo?.careForMinAge }} to
                {{ selectedProfile.respiteBackground.respiteProviderInfo?.careForMaxAge }}
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">Max number children to care for at a time</div>
              <div class="col-sm-6">{{ selectedProfile.respiteBackground.respiteProviderInfo?.maxNumCareFor }}</div>
            </div>
          </ng-template>
        </ngb-panel>
        <ngb-panel id="static-3" title="Household Background">
          <ng-template ngbPanelContent>
            <div class="row">
              <div class="col-sm-6">Access to reliable vehicle</div>
              <div class="col-sm-6">{{ selectedProfile.householdBackground.vehicleAccess?.valueOf() }}</div>
            </div>
            <div class="row">
              <div class="col-sm-6">Individuals in parental unit</div>
              <div class="col-sm-6">{{ selectedProfile.householdBackground.parentalUnitSize }}</div>
            </div>
            <div class="row">
              <div class="col-sm-6">total individuals in household</div>
              <div class="col-sm-6">{{ selectedProfile.householdBackground.householdSize }}</div>
            </div>
            <div class="row">
              <div class="col-sm-6">Biological children in household</div>
              <div class="col-sm-6">{{ selectedProfile.householdBackground.childrenInHousehold }}</div>
            </div>
            <div class="row">
              <div class="col-sm-6">Ages of children in household</div>
              <div class="col-sm-6">{{ selectedProfile.householdBackground.childrenInfo }}</div>
            </div>
            <div class="row" *ngIf="selectedProfile.householdBackground.petInfo">
              <div class="col-sm-6">Pets in household</div>
              <div class="col-sm-6">{{ selectedProfile.householdBackground.petInfo }}</div>
            </div>
            <div class="row" *ngIf="selectedProfile.householdBackground.lgbtCareExperience">
              <div class="col-sm-6">Experience with LGBTQIA+ youth</div>
              <div class="col-sm-6">{{ selectedProfile.householdBackground.lgbtCareExperience?.valueOf() }}</div>
            </div>
            <div class="row" *ngIf="selectedProfile.householdBackground.caredForPhysDisabled">
              <div class="col-sm-6">Experience for children with physical disability</div>
              <div class="col-sm-6">{{ selectedProfile.householdBackground.caredForPhysDisabled }}</div>
            </div>
            <div class="row" *ngIf="selectedProfile.householdBackground.caredForIntelDisabled">
              <div class="col-sm-6">Experience for children with intellectual disability</div>
              <div class="col-sm-6">{{ selectedProfile.householdBackground.caredForIntelDisabled }}</div>
            </div>
            <div class="row" *ngIf="selectedProfile.householdBackground.ownsFirearm">
              <div class="col-sm-6">Own a firearm</div>
              <div class="col-sm-6">{{ selectedProfile.householdBackground.ownsFirearm }}</div>
            </div>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>
  </div>
</div>

<!-- Modal -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Contact Information</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-append contact-modal">
            <span
              ><b>Email </b
              ><a href="mailto:{{ selectedProfile.account.email }}"> {{ selectedProfile.account.email }}</a></span
            >
            <br />
            <div class="spacer"></div>
            <span
              ><b>{{ selectedProfile.account.primaryPhoneNumber.type }}</b>
              <a href="tel:{{ selectedProfile.account.primaryPhoneNumber.phoneNumber }}">
                {{ selectedProfile.account.primaryPhoneNumber.phoneNumber }}</a
              ></span
            >
            <br />
            <div class="spacer"></div>
            <span *ngIf="selectedProfile.account.secondaryPhoneNumber?.phoneNumber"
              ><b>{{ selectedProfile.account.secondaryPhoneNumber?.type }}</b
              ><a href="tel:{{ selectedProfile.account.secondaryPhoneNumber?.phoneNumber }}">
                {{ selectedProfile.account.secondaryPhoneNumber?.phoneNumber }}</a
              ></span
            >
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
  </div>
</ng-template>

<!-- Setup for Availability Schedule in Block format-->

<!--<div class="row">-->
<!--  <div class="col-sm-6"></div>-->
<!--  <div class="col-sm-6"></div>-->
<!--</div>-->
<!--<div class="row">-->
<!--  <div class="col-sm-6"></div>-->
<!--  <div class="col-sm-6"></div>-->
<!--</div>-->
<!--<div class="row">-->
<!--  <div class="col-sm-6"></div>-->
<!--  <div class="col-sm-6"></div>-->
<!--</div>-->
