.availability-table {
  background-color: #fef4e8;
  min-width: 220px;
  border-radius: 10px;
}

hr.line {
  border: 1px solid #000000;
  margin-top: 0px;
}

h5.day {
  text-align: center;
}

.word-wrap {
  overflow-wrap: break-word;
}

.profile-column {
  min-width: 223.5px;
}

.about-height {
  height: 22vw;
}

.contact-modal {
  display: block;
}

.contact-quick-facts {
  background-color: #c4c9cc;
  border-radius: 10px;
  padding: 10px;
  display: inline-block;
}

.grid-custom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  grid-auto-rows: minmax(100px, auto);
}

.monday {
  grid-column: 1;
  grid-row: 1;
}

.tuesday {
  grid-column: 2;
  grid-row: 1;
}

.wednesday {
  grid-column: 1;
  grid-row: 2;
}

.thursday {
  grid-column: 2;
  grid-row: 2;
}

.friday {
  grid-column: 1;
  grid-row: 3;
}

.saturday {
  grid-column: 2;
  grid-row: 3;
}

.sunday {
  grid-column: 1;
  grid-row: 4;
}

.contact-grid {
  grid-column: 2;
  grid-row: 4;
}

.contact-quick-facts-background {
  background-color: #e4e6e8;
  border-radius: 10px;
  display: inline-block;
  width: 100%;
}

.first-contact {
  background-color: #ffe2bf;
  border-radius: 10px;
  padding: 8px;
  display: inline-block;
}

.first-contact-background {
  background-color: #fff2e3;
  border-radius: 10px;
  display: inline-block;
  width: 100%;
}

.spacer {
  padding: 10px;
}

.second-contact {
  background-color: #dabfff;
  border-radius: 10px;
  padding: 8px;
  display: inline-block;
}

.second-contact-background {
  background-color: #e9d9ff;
  border-radius: 10px;
  display: inline-block;
  width: 100%;
}

span.second-contact-background {
  background-color: #e9d9ff;
  border-radius: 10px;
  display: inline-block;
}

.contact-items-test {
  padding-left: 10px;
  padding-right: 15px;
}

.modal-background {
  background-color: #fef4e8;
}

/* .bio {
  color: white;
  background-color: #7e69a0;
  border-radius: 15px;
  padding: 10px;
  display: inline-block;
  text-align: center;
} */
.e-accordian {
  background-color: #ea8a40;
}

::ng-deep .card .card-header button:focus {
  box-shadow: none !important;
  outline: 0px !important;
  text-decoration: none !important;
}
::ng-deep .card .card-header button:active {
  box-shadow: none !important;
  outline: 0px !important;
  text-decoration: none !important;
}

::ng-deep .card .card-header button:hover {
  box-shadow: none !important;
  outline: 0px !important;
  text-decoration: none !important;
}

::ng-deep .card .card-header {
  background-color: white !important;
}
