hr.line {
  border: 1px solid #000000;
  margin-top: 0px;
}

h5.day {
  text-align: center;
}

.word-wrap {
  overflow-wrap: break-word;
}

.profile-column {
  min-width: 223.5px;
}

.about-height {
  height: 22vw;
}

.contact-modal {
  display: block;
}

.contact-quick-facts {
  background-color: #c4c9cc;
  border-radius: 10px;
  padding: 10px;
  display: inline-block;
}

.contact-quick-facts-background {
  background-color: #e4e6e8;
  border-radius: 10px;
  display: inline-block;
  width: 100%;
}

.first-contact {
  background-color: #ffe2bf;
  border-radius: 10px;
  padding: 8px;
  display: inline-block;
}

.first-contact-background {
  background-color: #fff2e3;
  border-radius: 10px;
  display: inline-block;
  width: 100%;
}

.spacer {
  padding: 10px;
}

.second-contact {
  background-color: #dabfff;
  border-radius: 10px;
  padding: 8px;
  display: inline-block;
}

.second-contact-background {
  background-color: #e9d9ff;
  border-radius: 10px;
  display: inline-block;
  width: 100%;
}

span.second-contact-background {
  background-color: #e9d9ff;
  border-radius: 10px;
  display: inline-block;
}

.contact-items-test {
  padding-left: 10px;
  padding-right: 15px;
}

.modal-background {
  background-color: #fef4e8;
}
