.contact-modal {
  display: block;
}

.contact-quick-facts {
  background-color: #c4c9cc;
  border-radius: 10px;
  padding: 10px;
  display: inline-block;
}

.contact-quick-facts-background {
  background-color: #e4e6e8;
  border-radius: 10px;
  display: inline-block;
  width: 100%;
}

.spacer {
  padding: 10px;
}

.second-contact-background {
  background-color: #e9d9ff;
  border-radius: 10px;
  display: inline-block;
  width: 100%;
}

span.second-contact-background {
  background-color: #e9d9ff;
  border-radius: 10px;
  display: inline-block;
}

.contact-items-test {
  padding-left: 10px;
  padding-right: 15px;
}

.modal-background {
  background-color: #fef4e8;
}

/* .bio {
  color: white;
  background-color: #7e69a0;
  border-radius: 15px;
  padding: 10px;
  display: inline-block;
  text-align: center;
} */

.e-accordian {
  background-color: #ea8a40;
}

::ng-deep .card .card-header button:focus {
  box-shadow: none !important;
  outline: 0px !important;
  text-decoration: none !important;
}
::ng-deep .card .card-header button:active {
  box-shadow: none !important;
  outline: 0px !important;
  text-decoration: none !important;
}

::ng-deep .card .card-header button:hover {
  box-shadow: none !important;
  outline: 0px !important;
  text-decoration: none !important;
}

::ng-deep .card .card-header {
  background-color: white !important;
}

.report-col {
  &:hover {
    cursor: pointer;
  }
}

.required-star {
  color: red;
}

.input-error {
  color: red;
}
