.availability-table {
  background-color: #fef4e8;
  min-width: 220px;
  border-radius: 10px;
}

hr.line {
  border: 1px solid #000000;
  margin-top: 0px;
}

h5.day {
  text-align: center;
}

.word-wrap {
  font-size: keep-all;
}

.profile-column {
  min-width: 223.5px;
}

.contact-modal {
  display: block;
}

.contact-items {
  /* border: 2px solid #afb4b8; */
  background-color: #e4e6e8;
  border-radius: 10px;
  padding: 10px;
  display: inline-block;
}

.modal-background {
  background-color: #fef4e8;
}

/* .bio {
  color: white;
  background-color: #7e69a0;
  border-radius: 15px;
  padding: 10px;
  display: inline-block;
  text-align: center;
} */
.test {
  background-color: #ea8a40;
}
