<div class="container-fluid" *ngIf="radioModel">
  <div class="row mt-5">
    <div class="col">
      <h5><span>Household Background</span></h5>
      <h6 class="text-muted"><i>I'm looking for someone who: </i></h6>
    </div>
  </div>
  <div class="vehicle-access-container">
    <div class="row">
      <div class="col">
        <div class="form-check form-check-inline">
          <input
            class="form-check-input mr-3"
            type="checkbox"
            name="vehicleAccessRadio"
            id="vehicleAccessRadioYes"
            [(ngModel)]="radioModel.vehicleAccess"
            (change)="cleanModel()"
          />
          <label class="form-check-label" for="vehicleAccessRadioYes">Has reliable access to a vehicle</label>
        </div>
      </div>
    </div>
  </div>
  <div class="cared-for-lgbt-container mt-3">
    <div class="row">
      <div class="col">
        <div class="form-check form-check-inline">
          <input
            class="form-check-input mr-3"
            type="checkbox"
            name="lgbtCared"
            id="lgbtCaredYes"
            [(ngModel)]="radioModel.lgbtExperience"
            (change)="cleanModel()"
          />
          <label class="form-check-label" for="lgbtCaredYes">Has cared for LGBTQIA+ Children in the past</label>
        </div>
      </div>
    </div>
  </div>
  <div class="cared-for-physical-dis-container mt-3">
    <div class="row">
      <div class="col">
        <div class="form-check form-check-inline">
          <input
            class="form-check-input mr-3"
            type="checkbox"
            name="caredForPhysDisabled"
            id="caredForPhysDisabledYes"
            [(ngModel)]="radioModel.physicalDisabilityExperience"
            (change)="cleanModel()"
          />
          <label class="form-check-label" for="caredForPhysDisabledYes"
            >Has cared for children with physical disabilities</label
          >
        </div>
      </div>
    </div>
  </div>
  <div class="cared-for-int-dis-container mt-3">
    <div class="row">
      <div class="col">
        <div class="form-check form-check-inline">
          <input
            class="form-check-input mr-3"
            type="checkbox"
            name="caredForIntDisabled"
            id="caredForIntDisabledYes"
            [(ngModel)]="radioModel.intellectualDisabilityExperience"
            (change)="cleanModel()"
          />
          <label class="form-check-label" for="caredForIntDisabledYes"
            >Has cared for children with intellectual disabilities</label
          >
        </div>
      </div>
    </div>
  </div>
  <div class="cared-for-med-fragile-container mt-3">
    <div class="row">
      <div class="col">
        <div class="form-check form-check-inline">
          <input
            class="form-check-input mr-3"
            type="checkbox"
            name="caredForMedFragile"
            id="caredForMedFragileYes"
            [(ngModel)]="radioModel.medicallyFragileExperience"
            (change)="cleanModel()"
          />
          <label class="form-check-label" for="caredForMedFragileYes">Has cared for medically fragile children</label>
        </div>
      </div>
    </div>
  </div>
  <div class="firearm-container mt-3">
    <div class="row">
      <div class="col">Owns a firearm</div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="ownsFirearm"
            id="ownsFirearmYes"
            value="yes"
            [(ngModel)]="radioModel.ownFirearm"
          />
          <label class="form-check-label" for="ownsFirearmYes"> Yes </label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="ownsFirearm"
            id="ownsFirearmNo"
            value="no"
            [(ngModel)]="radioModel.ownFirearm"
          />
          <label class="form-check-label" for="ownsFirearmNo"> No </label>
        </div>
      </div>
    </div>
  </div>
</div>
