<div class="container comp bg-white">
  <ul class="nav nav-tabs mt-5 border-bottom-0 mb-3">
    <li class="nav-item">
      <a class="nav-link" [ngClass]="{ active: router.url === '/admin' }" aria-current="page" [routerLink]="'/admin'"
        >Applications</a
      >
    </li>
    <li class="nav-item" *ngIf="isAdmin">
      <a
        class="nav-link"
        [ngClass]="{ active: router.url === '/admin/staff-requests' }"
        aria-current="page"
        [routerLink]="'/admin/staff-requests'"
        >Staff Account Requests</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        [ngClass]="{ active: router.url === '/admin/announcements' }"
        [routerLink]="'/admin/announcements'"
        >Announcements</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" [ngClass]="{ active: router.url === '/admin/blacklist' }" [routerLink]="'/admin/blacklist'"
        >Blacklist</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" [ngClass]="{ active: router.url === '/admin/bugs' }" [routerLink]="'/admin/bugs'"
        >Bug Reports</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link disabled"
        [ngClass]="{ active: router.url === '/admin/analytics' }"
        [routerLink]="'/admin/analytics'"
        >Analytics</a
      >
    </li>
  </ul>
  <div class="router-container">
    <router-outlet></router-outlet>
  </div>
</div>
