<div class="container p-5 bg-white mt-5 mb-5">
  <h1 class="mt-5 text-center">Apply For An Account</h1>
  <h6 class="text-center">
    Make sure that you have read through the <a href="/help" target="_blank" rel="noopener">help section</a> to ensure
    that you are eligible and ready to request a Respite Source account.
  </h6>
  <form [formGroup]="createAccountForm" (ngSubmit)="createAccountSubmit()">
    <div class="row mt-5 mb-2">
      <h3>Personal Information</h3>
    </div>
    <div class="row my-1 name-row my-1">
      <div class="col-sm-12 col-md-6">
        <app-basic-text-field
          [form]="createAccountForm"
          [field]="'fname'"
          [title]="'First Name'"
          [placeholder]="'Enter first name'"
          [errors]="['required']"
          [errorMessages]="['Please enter your first name.']"
        >
        </app-basic-text-field>
      </div>
      <div class="col-sm-12 col-md-6">
        <app-basic-text-field
          [form]="createAccountForm"
          [field]="'lname'"
          [title]="'Last Name'"
          [placeholder]="'Enter last name'"
          [errors]="['required']"
          [errorMessages]="['Please enter your last name.']"
        >
        </app-basic-text-field>
      </div>
    </div>
    <div class="row my-1 username-row">
      <div class="col-md-6">
        <app-basic-text-field
          [form]="createAccountForm"
          [field]="'user'"
          [title]="'Username'"
          [placeholder]="'Enter username'"
          [errors]="['required', 'minlength', 'maxlength', 'pattern']"
          [errorMessages]="[
            'Please enter your first name.',
            'Please enter a longer username.',
            'Please enter a shorter username.',
            'Invalid characters in username.'
          ]"
        >
        </app-basic-text-field>
      </div>
    </div>
    <div class="row my-1 email-row">
      <div class="col-md-6">
        <app-basic-text-field
          [form]="createAccountForm"
          [field]="'email'"
          [title]="'Email'"
          [placeholder]="'Enter email'"
          [errors]="['required', 'email']"
          [errorMessages]="['Please enter your email.', 'Please enter a valid email.']"
        >
        </app-basic-text-field>
      </div>
      <div class="col-md-6">
        <app-basic-text-field
          [form]="createAccountForm"
          [field]="'confirmEmail'"
          [title]="'Confirm Email'"
          [placeholder]="'Confirm email'"
          [errors]="['required']"
          [errorMessages]="['Please confirm your email.']"
          [formErrors]="['emailMatch']"
          [formErrorMessages]="['Emails do not match.']"
        >
        </app-basic-text-field>
      </div>
    </div>
    <div class="row my-1 pass-row">
      <div class="col-md-6">
        <app-basic-text-field
          [form]="createAccountForm"
          [field]="'password'"
          [title]="'Password'"
          [placeholder]="'Enter password'"
          [errors]="['required', 'minlength']"
          [errorMessages]="['Please enter your password.', 'Please enter a password that is at least 8 characters.']"
        >
        </app-basic-text-field>
      </div>
      <div class="col-md-6">
        <app-basic-text-field
          [form]="createAccountForm"
          [field]="'confirmpassword'"
          [title]="'Confirm Password'"
          [placeholder]="'Confirm password'"
          [errors]="['required']"
          [errorMessages]="['Please confirm your password.']"
          [formErrors]="['passwordMatch']"
          [formErrorMessages]="['Passwords do not match.']"
        >
        </app-basic-text-field>
      </div>
    </div>
    <div class="row my-1 phones-row">
      <div class="col-xs-8 col-md-4">
        <app-basic-text-field
          [form]="createAccountForm"
          [type]="'tel'"
          [field]="'primaryPhone'"
          [title]="'Enter Primary Phone Number'"
          [placeholder]="'Enter phone number'"
          [errors]="['required', 'invalidPhone']"
          [errorMessages]="['Please enter your primary phone number.', 'Please enter a valid phone number.']"
        ></app-basic-text-field>
      </div>
      <div class="col-xs-4 col-md-2">
        <div class="form-group">
          <label for="primaryType"><b>Type</b><span class="required-star">*</span></label>
          <select
            class="m-3 form-select"
            name="type"
            id="primaryType"
            formControlName="primaryType"
            style="border-top: 0px; border-right: 0px; border-left: 0px"
            autocomplete="off"
          >
            <option *ngFor="let phoneType of PHONE_TYPES" [value]="phoneType">
              {{ phoneType }}
            </option>
          </select>
          <div
            *ngIf="
              createAccountForm.get('primaryType')?.invalid &&
              (createAccountForm.get('primaryType')?.dirty || createAccountForm.get('primaryType')?.touched)
            "
          >
            <small *ngIf="createAccountForm.get('primaryType')?.errors?.required" class="input-error"
              >Please select a phone number type.<br
            /></small>
          </div>
        </div>
      </div>
      <div class="col-xs-8 col-md-4">
        <app-basic-text-field
          [form]="createAccountForm"
          [type]="'tel'"
          [field]="'secondaryPhone'"
          [title]="'Enter Secondary Phone Number'"
          [placeholder]="'Enter phone number'"
          [errors]="['invalidPhone']"
          [errorMessages]="['Please enter a valid phone number.']"
        ></app-basic-text-field>
      </div>
      <div class="col-xs-4 col-md-2">
        <div class="form-group">
          <label for="primaryType"><b>Type</b></label>
          <select
            class="m-3 form-select"
            name="type"
            id="secondaryType"
            formControlName="secondaryType"
            style="border-top: 0px; border-right: 0px; border-left: 0px"
            autocomplete="off"
          >
            <option value="Home">Home</option>
            <option value="Mobile">Mobile</option>
            <option value="Work">Work</option>
          </select>
          <div
            *ngIf="
              createAccountForm.get('secondaryType')?.invalid &&
              (createAccountForm.get('secondaryType')?.dirty || createAccountForm.get('secondaryType')?.touched)
            "
          >
            <small *ngIf="createAccountForm.get('secondaryType')?.errors?.required" class="input-error"
              >Please select a phone number type.<br
            /></small>
          </div>
        </div>
      </div>
    </div>
    <div class="row my-1 address-1-row">
      <div class="col-xs-12 col-sm-12 col-12">
        <app-basic-text-field
          [form]="createAccountForm"
          [field]="'address'"
          [title]="'Address Line 1'"
          [errors]="['required']"
          [errorMessages]="['Please enter your address.']"
        >
        </app-basic-text-field>
      </div>
    </div>
    <div class="row my-1 address-2-row">
      <div class="col-sm-8">
        <app-basic-text-field [form]="createAccountForm" [field]="'address2'" [title]="'Address Line 2'">
        </app-basic-text-field>
      </div>
    </div>
    <div class="row my-1 address-info-row">
      <div class="col-md-5">
        <app-basic-text-field
          [form]="createAccountForm"
          [field]="'city'"
          [title]="'City'"
          [errors]="['required']"
          [errorMessages]="['Please enter a city.']"
        ></app-basic-text-field>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="state"><b>State</b><span class="required-star">*</span></label>
          <select
            class="m-3 form-select"
            name="state"
            id="state"
            formControlName="state"
            style="border-top: 0px; border-right: 0px; border-left: 0px"
          >
            <option *ngFor="let s of STATES" [value]="s">
              {{ s }}
            </option>
          </select>
          <div
            *ngIf="
              createAccountForm.get('state')?.invalid &&
              (createAccountForm.get('state')?.dirty || createAccountForm.get('state')?.touched)
            "
          >
            <small *ngIf="createAccountForm.get('state')?.errors?.required" class="input-error"
              >Please choose a state.<br
            /></small>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <app-basic-text-field
          [form]="createAccountForm"
          [field]="'zip'"
          [title]="'Zip Code'"
          [errors]="['required', 'pattern']"
          [errorMessages]="['Please enter a zip code.', 'Please enter a valid zip code.']"
        ></app-basic-text-field>
      </div>
    </div>
    <div class="row my-1 mt-5">
      <h3>Case Worker Information</h3>
    </div>
    <div class="row my-1 cw-name-row">
      <div class="col-sm-6">
        <app-basic-text-field
          [form]="createAccountForm"
          [field]="'caseworkerfname'"
          [title]="'Case Worker First Name'"
          [placeholder]="'Enter case worker\'s first name'"
          [errors]="['required']"
          [errorMessages]="['Please enter case worker\'s first name.']"
        ></app-basic-text-field>
      </div>
      <div class="col-sm-6">
        <app-basic-text-field
          [form]="createAccountForm"
          [field]="'caseworkerlname'"
          [title]="'Case Worker Last Name'"
          [placeholder]="'Enter case worker\'s last name'"
          [errors]="['required']"
          [errorMessages]="['Please enter case worker\'s last name.']"
        ></app-basic-text-field>
      </div>
    </div>
    <div class="row my-1 cw-contact-row">
      <div class="col-md-6">
        <app-basic-text-field
          [form]="createAccountForm"
          [field]="'caseworkeremail'"
          [title]="'Case Worker Email'"
          [placeholder]="'Enter case worker\'s email'"
          [errors]="['required', 'email']"
          [errorMessages]="['Please enter case worker\'s email.', 'Please enter a valid email.']"
        ></app-basic-text-field>
      </div>
      <div class="col-md-6">
        <app-basic-text-field
          [form]="createAccountForm"
          [field]="'caseworkerphone'"
          [type]="'tel'"
          [title]="'Case Worker Phone Number'"
          [placeholder]="'Enter case worker\'s phone number'"
          [errors]="['required', 'invalidPhone']"
          [errorMessages]="['Please enter case worker\'s phone number.', 'Please enter a valid phone number.']"
        ></app-basic-text-field>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <app-basic-text-field
          [form]="createAccountForm"
          [field]="'certifiedBy'"
          [title]="'County or Child Placement Agency Certified With'"
          [placeholder]="'Enter county or child placement agency'"
          [errors]="['required']"
          [errorMessages]="['Please enter the county or child placement agency you are certified by.']"
        >
        </app-basic-text-field>
      </div>
      <div class="col-sm-6">
        <app-basic-text-field
          [form]="createAccountForm"
          [field]="'certExpiry'"
          [title]="'Expiration date of certification'"
          [subtitle]="'(The date must be entered in the format MM/DD/YYYY)'"
          [placeholder]="'MM/DD/YYYY'"
          [errors]="['required', 'pattern', 'invalidDate']"
          [errorMessages]="[
            'Please enter expiration date.',
            'Please enter date in format MM/DD/YYYY.',
            'Please enter a valid date.'
          ]"
        >
        </app-basic-text-field>
      </div>
    </div>

    <div class="row my-5">
      <div class="col-12">
        <div class="row">
          <p><b>Please read and acknowledge the following statements:</b></p>
        </div>
      </div>
      <div class="col-12">
        <app-basic-check-field
          [form]="createAccountForm"
          [field]="'approvalResponsibility'"
          [title]="
            ' I understand that it is my responsibility to get any respite arrangement approved by my county/agency certification worker before providing or accepting respite for or from another Respite Source  user.'
          "
          [italic]="true"
          [errors]="['required', 'requiredTrue']"
          [errorMessages]="[
            'You must acknowledge the above statement before creating your account.',
            'You must accept the above statement before creating your account.'
          ]"
        ></app-basic-check-field>
      </div>
      <div class="col-12">
        <app-basic-check-field
          [form]="createAccountForm"
          [field]="'confidentialInformation'"
          [title]="
            'I understand that Respite Source  is a private community and that it is my responsibility to keep any and all information learned about other users (whether learned directly from another person or via the forum) confidential.'
          "
          [italic]="true"
          [errors]="['required', 'requiredTrue']"
          [errorMessages]="[
            'You must acknowledge the above statement before creating your account.',
            'You must accept the above statement before creating your account.'
          ]"
        ></app-basic-check-field>
      </div>
      <div class="col-12">
        <app-basic-check-field
          [form]="createAccountForm"
          [field]="'potentialShareInfo'"
          [title]="
            ' I understand and accept the risk that any information that I share via Respite Source  (though instructed to be confidential) still has the potential to be shared outside of Respite Source .'
          "
          [italic]="true"
          [errors]="['required', 'requiredTrue']"
          [errorMessages]="[
            'You must acknowledge the above statement before creating your account.',
            'You must accept the above statement before creating your account.'
          ]"
        ></app-basic-check-field>
      </div>
    </div>

    <div class="row">
      <div class="col-6 mx-auto">
        <button
          type="submit"
          id="createAccountButton"
          class="btn btn-primary w-100 p-2 mb-5 mt-2 text-white"
          [disabled]="disableSubmitButton"
        >
          Create Account
        </button>
      </div>
    </div>
  </form>
  <small><span class="required-star">*</span> indicates required field</small>
</div>
