<form [formGroup]="createAccountForm" (ngSubmit)="createAccountSubmit()">
  <h1 class="mt-5" style="text-align: center">Create Account</h1>
  <div class="row">
    <div class="container col-5">
      <div class="jumbotron ml-5">
        <div class="form-group">
          <label for="fname"><b>First Name</b></label>
          <input
            class="form-control p-1 m-0"
            id="fname"
            placeholder="Enter First Name"
            formControlName="firstname"
            required
          />
        </div>
        <div class="form-group">
          <label for="user"><b>Username</b></label>
          <input
            class="form-control p-1 m-0"
            id="user"
            placeholder="Enter Username"
            formControlName="user"
            required
          />
        </div>
        <div class="form-group">
          <label for="email"><b>Email</b></label>
          <input
            class="form-control p-1 m-0"
            id="email"
            placeholder="Enter Email"
            formControlName="email"
            required
          />
        </div>
        <div class="form-group">
          <div class="container float-left w-75">
            <label for="primaryPhone"><b>Enter Primary Phone Number</b></label>
            <input
              class="form-control p-1 ml-0"
              type="tel"
              id="primaryPhone"
              placeholder="Enter Phone Number"
              formControlName="primaryPhone"
              required
            />
          </div>
          <div class="container float-right w-25">
            <label for="primaryType"><b>Type</b></label>
            <div class="container"></div>
            <select
              class="m-3"
              name="type"
              id="primaryType"
              formControlName="primaryType"
              style="border-top: 0px; border-right: 0px; border-left: 0px"
            >
              <option value="Home">Home</option>
              <option value="Mobile">Mobile</option>
              <option value="Work">Work</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="mt-4" for="address"><b>Address Line 1</b></label>
          <input
            class="form-control p-1 m-0"
            id="address"
            placeholder="Address Line 1"
            formControlName="address"
            required
          />
        </div>
        <div class="form-group">
          <div class="container float-left w-75">
            <label for="city"><b>City</b></label>
            <input
              class="form-control p-1 m-0"
              type="text"
              id="city"
              placeholder="Enter City"
              formControlName="city"
              required
            />
          </div>
          <div class="container float-right w-25">
            <label for="zipCode"><b>Zip Code</b></label>
            <div class="container"></div>
            <input
              class="form-control p-1 m-0"
              type="number"
              id="zipCode"
              placeholder="Enter Zip"
              formControlName="zip"
              required
            />
          </div>
        </div>
        <div class="form-group">
          <label class="mt-4" for="caseworkerfname"
            ><b>Case Worker First Name</b></label
          >
          <input
            class="form-control p-1 m-0"
            id="caseworkerfname"
            placeholder="Enter Case Worker's First Name"
            formControlName="caseworkerfname"
            required
          />
        </div>
        <div class="form-group">
          <label for="caseworkeremail"><b>Case Worker Email</b></label>
          <input
            type="email"
            class="form-control p-1 m-0"
            id="caseworkeremail"
            placeholder="Enter Case Worker's Email"
            formControlName="caseworkeremail"
            required
          />
        </div>
      </div>
    </div>
    <div class="container col-5">
      <div class="jumbotron float-right mr-5">
        <div class="form-group">
          <label for="lname"><b>Last name</b></label>
          <input
            class="form-control p-1 m-0"
            id="lname"
            placeholder="Enter Last Name"
            formControlName="lname"
            required
          />
        </div>
        <div class="form-group">
          <label for="password"><b>Password</b></label>
          <input
            class="form-control p-1 m-0"
            type="password"
            id="password"
            placeholder="Enter Password"
            formControlName="password"
            required
          />
        </div>
        <div class="form-group">
          <label for="confirmEmail"><b>Confirm Email</b></label>
          <input
            class="form-control p-1 m-0"
            id="confirmEmail"
            placeholder="Confirm Email"
            formControlName="confirmEmail"
            required
          />
        </div>
        <div class="form-group">
          <div class="container float-left w-75">
            <label for="secondaryPhone"
              ><b>Enter Secondary Phone Number</b></label
            >
            <input
              class="form-control p-1 m-0"
              type="tel"
              id="secondaryPhone"
              placeholder="Enter Phone Number"
              formControlName="secondaryPhone"
            />
          </div>
          <div class="container float-right w-25">
            <label for="secondaryType"><b>Type</b></label>
            <div class="container"></div>
            <select
              class="m-3"
              name="type"
              id="secondaryType"
              formControlName="secondaryType"
              style="border-top: 0px; border-right: 0px; border-left: 0px"
            >
              <option value="Home">Home</option>
              <option value="Mobile">Mobile</option>
              <option value="Work">Work</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="mt-4" for="address2"><b>Address Line 2</b></label>
          <input
            class="form-control p-1"
            id="address2"
            placeholder="Address Line 2"
            formControlName="address2"
            required
          />
        </div>
        <div class="form-group">
          <div class="container float-left w-50">
            <label for="state"><b>State</b></label>
            <input
              class="form-control p-1 m-0"
              type="state"
              id="state"
              placeholder="Enter State"
              formControlName="state"
              required
            />
          </div>
          <div class="container float-right w-50">
            <label for="country"><b>Country</b></label>
            <div class="container"></div>
            <input
              class="form-control p-1 m-0"
              type="country"
              id="country"
              placeholder="Enter Country"
              formControlName="country"
              required
            />
          </div>
        </div>
        <div class="form-group">
          <label class="mt-4" for="caseworkerlname"
            ><b>Case Worker Last Name</b></label
          >
          <input
            class="form-control p-1 m-0"
            id="caseworkerlname"
            placeholder="Enter Case Worker's First Name"
            formControlName="caseworkerlname"
            required
          />
        </div>
        <div class="form-group">
          <label for="caseworkerphone"><b>Case Worker Phone Number</b></label>
          <input
            class="form-control p-1 m-0"
            type="tel"
            id="caseworkerphone"
            placeholder="Enter Case Worker's Phone Number"
            formControlName="caseworkerphone"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="container w-50 justify-content-center">
    <button type="submit" class="btn btn-primary w-100 p-2 mb-5">
      Create Account
    </button>
  </div>
</form>
