<div class="container mt-5 mb-5 p-5">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="jumbotron bg-white" id="recovery-change-modal">
        <h1 class="mb-5 text-center">Change Your Password</h1>
        <div class="row">
          <div class="col-12">
            <app-basic-text-field
              [field]="'password'"
              [type]="'password'"
              [title]="'Password'"
              [placeholder]="'Enter your new password'"
              [form]="changePasswordForm"
              [errors]="['required', 'minlength']"
              [errorMessages]="[
                'Please enter your new password.',
                'Please enter a password that is at least 8 characters.'
              ]"
            ></app-basic-text-field>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <app-basic-text-field
              [field]="'confirmPassword'"
              [type]="'password'"
              [title]="'Confirm Your New Password'"
              [placeholder]="'Confirm your password'"
              [form]="changePasswordForm"
              [errors]="['required']"
              [errorMessages]="['Please confirm your new password.']"
              [formErrors]="['passwordMatch']"
              [formErrorMessages]="['Passwords do not match.']"
            ></app-basic-text-field>
          </div>
        </div>
        <button class="btn btn-primary text-white w-100" (click)="onSubmit()">Change Password</button>
      </div>
    </div>
  </div>
</div>
