<div class="container"></div>
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 offset-3 float-md-center">
  <div class="jumbotron" id="login-modal">
    <form action="action_page.php" method="post">
      <label for="uname"><b>Username</b></label>
      <input
        type="text"
        id="user"
        placeholder="Enter Username"
        name="uname"
        required
      />
      <div class="container"></div>
      <label for="psw"><b>Password</b></label>
      <input
        type="password"
        id="pass"
        placeholder="Enter Password"
        name="psw"
        required
      />
      <div class="container"></div>
      <button type="submit">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember" /> Remember me
      </label>

      <div class="container">
        <span class="psw"
          >Don't have an account?
          <a href="/createAccount">Sign up here</a></span
        >
      </div>
    </form>
  </div>
</div>
