<div class="container">
  <div class="row mt-5">
    <div class="col text-center">
      <h2>Update Your Password</h2>
    </div>
  </div>
  <form [formGroup]="changePasswordForm">
    <div class="row mt-5">
      <div class="col-md-3 col-lg-4"></div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="form-group">
          <label for="oldPassword"><b>Old Password</b></label>
          <input
            class="form-control p-1 m-0 bottom-border-input"
            type="password"
            id="oldPassword"
            placeholder="Enter Old Password"
            formControlName="oldPassword"
            required
          />
          <div
            *ngIf="
              changePasswordForm.get('oldPassword')?.invalid &&
              (changePasswordForm.get('oldPassword')?.dirty || changePasswordForm.get('oldPassword')?.touched)
            "
          >
            <small *ngIf="changePasswordForm.get('oldPassword')?.errors?.required" class="input-error"
              >Please enter your old password.<br
            /></small>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-1">
      <div class="col-md-3 col-lg-4"></div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="form-group">
          <label for="newPassword"><b>New Password</b></label>
          <input
            class="form-control p-1 m-0 bottom-border-input"
            type="password"
            id="newPassword"
            placeholder="Enter New Password"
            formControlName="newPassword"
            required
          />
          <div
            *ngIf="
              changePasswordForm.get('newPassword')?.invalid &&
              (changePasswordForm.get('newPassword')?.dirty || changePasswordForm.get('newPassword')?.touched)
            "
          >
            <small *ngIf="changePasswordForm.get('newPassword')?.errors?.required" class="input-error"
              >Please enter your new password.<br
            /></small>
            <small *ngIf="changePasswordForm.get('newPassword')?.errors?.minlength" class="input-error"
              >Please enter a password that is at least 8 characters.<br
            /></small>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-1">
      <div class="col-md-3 col-lg-4"></div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="form-group">
          <label for="confirmNewPassword"><b>Confirm New Password</b></label>
          <input
            class="form-control p-1 m-0 bottom-border-input"
            type="password"
            id="confirmNewPassword"
            placeholder="Confirm New Password"
            formControlName="confirmNewPassword"
            required
          />
          <div
            *ngIf="
              changePasswordForm.get('confirmNewPassword')?.invalid &&
              (changePasswordForm.get('confirmNewPassword')?.dirty ||
                changePasswordForm.get('confirmNewPassword')?.touched)
            "
          >
            <small *ngIf="changePasswordForm.get('confirmNewPassword')?.errors?.required" class="input-error"
              >Please confirm your new password.<br
            /></small>
          </div>
          <div *ngIf="changePasswordForm.errors">
            <small *ngIf="changePasswordForm.errors?.passwordMatch" class="input-error">Passwords do not match</small>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="row mt-1">
    <div class="col-md-3 col-lg-4"></div>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <button class="btn btn-primary text-white w-100" [disabled]="submittingForm" (click)="onSubmit()">
        Change Password
      </button>
    </div>
  </div>
</div>
