<div class="container">
  <div class="row mt-5">
    <div class="col text-center">
      <h2>Update Your Password</h2>
    </div>
  </div>
  <form [formGroup]="changePasswordForm">
    <div class="row mt-5">
      <div class="col-md-3 col-lg-4"></div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <app-basic-text-field
          [title]="'Current Password'"
          [field]="'oldPassword'"
          [type]="'password'"
          [placeholder]="'Enter old password'"
          [form]="changePasswordForm"
          [errors]="['required']"
          [errorMessages]="['Please enter your old password.']"
        ></app-basic-text-field>
      </div>
    </div>
    <div class="row mt-1">
      <div class="col-md-3 col-lg-4"></div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <app-basic-text-field
          [title]="'New Password'"
          [subtitle]="'Choose a password that is at least 8 characters.'"
          [field]="'newPassword'"
          [type]="'password'"
          [placeholder]="'Enter new password'"
          [form]="changePasswordForm"
          [errors]="['required', 'minlength']"
          [errorMessages]="[
            'Please enter your new password.',
            'Please enter a password that is at least 8 characters.'
          ]"
        ></app-basic-text-field>
      </div>
    </div>
    <div class="row mt-1">
      <div class="col-md-3 col-lg-4"></div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <app-basic-text-field
          [title]="'Confirm New Password'"
          [field]="'confirmNewPassword'"
          [type]="'password'"
          [placeholder]="'Confirm new password'"
          [form]="changePasswordForm"
          [errors]="['required']"
          [errorMessages]="['Please enter your old password.']"
          [formErrors]="['passwordMatch']"
          [formErrorMessages]="['Passwords do not match']"
        ></app-basic-text-field>
      </div>
    </div>
  </form>
  <div class="row mt-1">
    <div class="col-md-3 col-lg-4"></div>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <button class="btn btn-primary text-white w-100" [disabled]="submittingForm" (click)="onSubmit()">
        Change Password
      </button>
    </div>
  </div>
</div>
