<app-filter-panel
  [hidden]="filtersHidden"
  (closePanel)="closeNav()"
  (filterResults)="setFilters($event)"
></app-filter-panel>
<div class="container">
  <div class="row mt-4">
    <div class="col-sm-6 col-md-8">
      <app-search-bar (searchEvent)="searchEvent($event)"></app-search-bar>
    </div>
    <div class="col-sm-6 col-md-4">
      <button class="btn btn-secondary w-100" (click)="filtersHidden ? openNav() : closeNav()">☰ Filters</button>
    </div>
  </div>
</div>
<div *ngIf="results && results.length > 0" class="w-100 h-100">
  <div class="row mb-5">
    <app-search-results class="w-100" [profiles]="results" [searching]="searching"></app-search-results>
  </div>
  <div class="page-footer">
    <ngb-pagination
      [(page)]="resultPage"
      [pageSize]="resultsPerPage"
      [collectionSize]="totalResults"
      (pageChange)="changePage($event)"
    ></ngb-pagination>
  </div>
</div>
<div *ngIf="!results || results.length === 0" class="row">
  <div class="col-12 text-center mt-5">
    <p>We didn't find any profiles &nbsp;<i class="bi bi-emoji-frown"></i></p>
    <br />
    <i> Check back later!</i>
  </div>
</div>
