<app-filter-panel
  [hidden]="hidden"
  (closePanel)="closeNav()"
></app-filter-panel>
<div class="container">
  <div class="row mt-4">
    <div class="col-sm-8 col-md-10">
      <app-search-bar></app-search-bar>
    </div>
    <div class="col-sm-4 col-md-2">
      <button
        class="btn btn-secondary w-100"
        (click)="hidden ? openNav() : closeNav()"
      >
        ☰ Filters
      </button>
    </div>
  </div>

  <!--  <div class="row">-->
  <!--    <div class="col-sm-12 col-md-5 col-lg-4">-->
  <!--      <app-search-and-filter-->
  <!--      (searchedTerm)="searchForTerm($event)"-->
  <!--      ></app-search-and-filter>-->
  <!--    </div>-->
  <!--    <div class="col-sm-12 col-md-7 col-lg-8">-->
  <!--      <app-search-results></app-search-results>-->
  <!--    </div>-->
  <!--  </div>-->
</div>
