<div *ngIf="currentProviderInfo" class="container">
  <div class="row mt-5">
    <div class="col text-center">
      <h2>Update Your Respite Provider Info</h2>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-md-3 col-lg-4"></div>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <p><b>Current Information On File</b></p>
      <span *ngIf="currentProviderInfo.cityCanProvideRespiteIn"
        ><b>City Can Provide Respite In: </b> {{ currentProviderInfo.cityCanProvideRespiteIn }} <br
      /></span>
      <span *ngIf="currentProviderInfo.respiteTravelDistance !== undefined"
        ><b>Travel Distance: </b> {{ currentProviderInfo.respiteTravelDistance }} <br
      /></span>
      <span *ngIf="currentProviderInfo.careForMinAge !== undefined"
        ><b>Min Age Able to Care For: </b> {{ currentProviderInfo.careForMinAge }} <br
      /></span>
      <span *ngIf="currentProviderInfo.careForMaxAge !== undefined"
        ><b>Max Age Able to Care For: </b> {{ currentProviderInfo.careForMaxAge }} <br
      /></span>
      <span *ngIf="currentProviderInfo.maxNumCareFor !== undefined"
        ><b>Max # of Children Able to Care For: </b> {{ currentProviderInfo.maxNumCareFor }} <br
      /></span>
      <p>
        <small
          ><i
            >To update your primary weekly availability,
            <a [routerLink]="'/user/update/primary-availability'">click here</a>.<br />To add or remove a temporary
            availability, <a [routerLink]="'/user/update/temporary-availability'">click here</a>.</i
          ></small
        >
      </p>
      <small>Any fields that are not filled out will not be updated.</small>
    </div>
  </div>
  <form [formGroup]="updateProviderInfoForm">
    <div class="row extra-provider-qs-row can-provide-row">
      <div class="col-12">
        <div class="row city-and-miles-row my-3">
          <div class="col-sm-12 col-md-6">
            <app-basic-text-field
              [title]="'City/town you can provide respite in'"
              [field]="'cityCanProvideRespiteIn'"
              [form]="updateProviderInfoForm"
              [placeholder]="'Enter city'"
            ></app-basic-text-field>
          </div>
          <div class="col-sm-12 col-md-6">
            <app-basic-text-field
              [title]="'How far are you willing to travel to provide respite (miles)?'"
              [field]="'respiteTravelDistance'"
              [type]="'number'"
              [form]="updateProviderInfoForm"
              [placeholder]="'Enter distance (miles)'"
            ></app-basic-text-field>
          </div>
        </div>
        <div class="row age-range-max-num-row">
          <div class="col-sm-12 col-md-6">
            <p>
              <b>If you are providing respite, what age range of children can you care for?</b>
            </p>
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <div class="form-group form-inline">
                  <label for="careForMinAge" class="mr-2"><i>Min: </i></label>
                  <input
                    class="form-control p-1 m-0 bottom-border-input"
                    id="careForMinAge"
                    type="number"
                    placeholder="Enter minimum age"
                    formControlName="careForMinAge"
                  />
                  <div
                    *ngIf="
                      updateProviderInfoForm.get('careForMinAge')?.invalid &&
                      (updateProviderInfoForm.get('careForMinAge')?.dirty ||
                        updateProviderInfoForm.get('careForMinAge')?.touched)
                    "
                  >
                    <small *ngIf="updateProviderInfoForm.get('careForMinAge')?.errors?.required" class="input-error"
                      >Please the max age.<br
                    /></small>
                    <small *ngIf="updateProviderInfoForm.get('careForMinAge')?.errors?.min" class="input-error"
                      >Please enter a value of at least 0.<br
                    /></small>
                    <small *ngIf="updateProviderInfoForm.get('careForMinAge')?.errors?.max" class="input-error"
                      >Please enter a value less than 18.<br
                    /></small>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <div class="form-group form-inline">
                  <label for="careForMaxAge" class="mr-2"><i>Max: </i></label>
                  <input
                    class="form-control p-1 m-0 bottom-border-input"
                    id="careForMaxAge"
                    type="number"
                    placeholder="Enter maximum age"
                    formControlName="careForMaxAge"
                  />
                  <div
                    *ngIf="
                      updateProviderInfoForm.get('careForMaxAge')?.invalid &&
                      (updateProviderInfoForm.get('careForMaxAge')?.dirty ||
                        updateProviderInfoForm.get('careForMaxAge')?.touched)
                    "
                  >
                    <small *ngIf="updateProviderInfoForm.get('careForMaxAge')?.errors?.required" class="input-error"
                      >Please the max age.<br
                    /></small>
                    <small *ngIf="updateProviderInfoForm.get('careForMaxAge')?.errors?.min" class="input-error"
                      >Please enter a value of at least 0.<br
                    /></small>
                    <small *ngIf="updateProviderInfoForm.get('careForMaxAge')?.errors?.max" class="input-error"
                      >Please enter a value less than 18.<br
                    /></small>
                  </div>
                  <div *ngIf="updateProviderInfoForm.get('careForMaxAge')?.touched">
                    <small *ngIf="updateProviderInfoForm.getError('notLargerThan')" class="input-error"
                      >Value must be larger than min age value.<br
                    /></small>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6">
            <app-basic-text-field
              [title]="'What is the maximum number of children you are able to care for at one time?'"
              [field]="'maxNumCareFor'"
              [type]="'number'"
              [form]="updateProviderInfoForm"
              [placeholder]="'Enter number of children'"
            ></app-basic-text-field>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="row mt-5">
    <div class="col-md-3 col-lg-4"></div>
    <div class="col-sm-12 col-md-6 col-lg-4 mb-5">
      <button class="btn btn-primary text-white w-100" [disabled]="submittingForm" (click)="onSubmit()">
        Update Respite Provider Info
      </button>
    </div>
  </div>
</div>
